In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read independent files
d15 = pd.read_csv('Years 2015 to 2019/2015.csv')
d16 = pd.read_csv('Years 2015 to 2019/2016.csv')
d17 = pd.read_csv('Years 2015 to 2019/2017.csv')
d18 = pd.read_csv('Years 2015 to 2019/2018.csv')
d19 = pd.read_csv('Years 2015 to 2019/2019.csv')

C:\Users\Nancy\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,4,6,7,8,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Ensure headers are the same for all files in order to concatenate them

In [3]:
all(d15.columns == d16.columns)

True

In [4]:
all(d16.columns == d17.columns)

True

In [5]:
all(d17.columns == d18.columns)

False

In [6]:
#These are the column names we want for all files
d15.columns

Index(['Trip Duration', 'Year', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [7]:
#Check and modify column names for d18
d18.columns

Index(['tripduration', 'Year', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [8]:
d18.columns = ['Trip Duration', 'Year', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender']

In [9]:
d18.columns

Index(['Trip Duration', 'Year', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [10]:
all(d17.columns == d18.columns)

True

In [11]:
all(d17.columns == d19.columns)

False

In [12]:
#Check and modify column names for d19
d19.columns

Index(['tripduration', 'Year', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [13]:
d19.columns = ['Trip Duration', 'Year', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender']

In [14]:
d19.columns

Index(['Trip Duration', 'Year', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

#### Combine files for years 2015, 2016, 2017, 2018 and 2019

In [15]:
data = pd.concat([d15, d16, d17, d18, d19])
data.head()

,Trip Duration,Year,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,61,2015,21/09/2015 14:53,21/09/2015 14:54,3185,City Hall,40.7177325,-74.043845,3185,City Hall,40.7177325,-74.043845,24722,Subscriber,1975,1
1,290,2015,21/09/2015 14:55,21/09/2015 15:00,3183,Exchange Place,40.7162469,-74.0334588,3187,Warren St,40.7211236,-74.03805095,24388,Customer,NaN,0
2,786,2015,21/09/2015 14:56,21/09/2015 15:09,3183,Exchange Place,40.7162469,-74.0334588,3183,Exchange Place,40.7162469,-74.0334588,24442,Subscriber,1962,1
3,477,2015,21/09/2015 14:58,21/09/2015 15:06,3203,Hamilton Park,40.72759597,-74.04424731,3203,Hamilton Park,40.72759597,-74.04424731,24678,Subscriber,1977,2
4,451,2015,21/09/2015 14:59,21/09/2015 15:07,3203,Hamilton Park,40.72759597,-74.04424731,3186,Grove St PATH,40.71958612,-74.04311746,24574,Subscriber,1977,2

#### Data exploration and cleaning

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1080365 entries, 0 to 131041
Data columns (total 16 columns):
Trip Duration              1080365 non-null object
Year                       1080365 non-null int64
Start Time                 1080365 non-null object
Stop Time                  1080365 non-null object
Start Station ID           1080365 non-null object
Start Station Name         1080365 non-null object
Start Station Latitude     1080365 non-null object
Start Station Longitude    1080365 non-null object
End Station ID             1080365 non-null object
End Station Name           1080365 non-null object
End Station Latitude       1080365 non-null object
End Station Longitude      1080365 non-null object
Bike ID                    1080365 non-null object
User Type                  1079868 non-null object
Birth Year                 1036123 non-null object
Gender                     1080365 non-null object
dtypes: int64(1), object(15)
memory usage: 140.1+ MB

In [17]:
#Looking at unique values per column
for column in data:
    print(column)
    print(data[column].unique())

Trip Duration
['61' '290' '786' ... 3791 3557 3562]
Year
[2015 2016 2017 2018 2019]
Start Time
['21/09/2015 14:53' '21/09/2015 14:55' '21/09/2015 14:56' ...
 '31/05/2019 23:51' '31/05/2019 23:55' '31/05/2019 23:56']
Stop Time
['21/09/2015 14:54' '21/09/2015 15:00' '21/09/2015 15:09' ...
 '01/06/2019 00:04' '01/06/2019 00:01' '01/06/2019 00:05']
Start Station ID
['3185' '3183' '3203' '3195' '3212' '3225' '3187' '3202' '3211' '3209'
 '3199' '3217' '3186' '3196' '3214' '3184' '3216' '3198' '3188' '3200'
 '3220' '3201' '3207' '3206' '3213' '3194' '3215' '3205' '3197' '3193'
 '3192' '3189' '3210' '3190' '3191' 'Start Station ID' '3270' '3267'
 '3272' '3268' '3278' '3279' '3276' '3273' '3275' '3274' '3281' '3271'
 '3269' '3280' '3426' '3277' 'start station id' '3481' '3639' '3638'
 '3640' 3278 3210 3209 3184 3199 3280 3225 3281 3279 3186 3194 3267 3203
 3639 3191 3270 3195 '3483' '3677' '3678' '3679' '3681' '3694' 3187 3192
 3193 3196 3198 3201 3202 3205 3206 3207 3211 3212 3213 3214 3220 3268
 3269 3272 3273 3275 3276 3277 3426 3481 3483 3638 3640 3677 3678 3679
 3183 3185 3681 3694 3791]
Start Station Name
['City Hall' 'Exchange Place' 'Hamilton Park' 'Sip Ave' 'Christ Hospital'
 'Baldwin at Montgomery' 'Warren St' 'Newport PATH' 'Newark Ave'
 'Brunswick St' 'Newport Pkwy' 'Bayside Park' 'Grove St PATH'
 'Riverview Park' 'Essex Light Rail' 'Paulus Hook' 'Columbia Park'
 'Heights Elevator' 'NJCU' 'MLK Light Rail' '5 Corners Library' 'Dey St'
 'Oakland Ave' 'Hilltop' 'Van Vorst Park' 'McGinley Square' 'Central Ave'
 'JC Medical Center' 'North St' 'Lincoln Park' 'Liberty Light Rail'
 'West Side Light Rail' 'Pershing Field' 'Garfield Ave Station' 'Union St'
 'Start Station Name' 'Jersey & 6th St' 'Morris Canal' 'Jersey & 3rd'
 'Lafayette Park' 'Monmouth and 6th' 'Dixon Mills' 'Marin Light Rail'
 'Manila & 1st' 'Columbus Drive' 'Bethune Center' 'Leonard Gordon Park'
 'Danforth Light Rail' 'Brunswick & 6th' 'Astor Place' 'JCBS Depot'
 'Communipaw & Berry Lane' 'start station name' 'York St' 'Harborside'
 'Washington St' 'Journal Square' 'Montgomery St' 'Glenwood Ave'
 'Fairmount Ave' 'Bergen Ave' 'Grand St' 'Jackson Square'
 'Hoboken Ave at Monmouth St']
Start Station Latitude
['40.7177325' '40.7162469' '40.72759597' '40.73074263' '40.73478582'
 '40.7236589' '40.7211236' '40.7272235' '40.72152515' '40.7241765'
 '40.7287448' '40.69865054' '40.71958612' '40.7443187' '40.7127742'
 '40.7141454' '40.6970299' '40.74871595' '40.7101087' '40.7111305'
 '40.73496102' '40.737711' '40.7376037' '40.7311689' '40.71848892'
 '40.72533993' '40.7467299' '40.71653978' '40.752559' '40.7246051'
 '40.7112423' '40.714402' '40.74267714' '40.71046702' '40.7182113'
 'Start Station Latitude' '40.72528911' '40.71241882' '40.72333159'
 '40.71346383' '40.72568548' '40.72163014' '40.71458404' '40.72165072'
 '40.7183552' '40.70495752' '40.74590997' '40.69263997' '40.72601173'
 '40.7192822' '40.70965083' '40.71435837' 'start station latitude'
 '40.71649' '40.7192517' '40.7242941' '40.73367' 40.72568548 40.74267714
 40.7241765 40.7141454 40.728744799999994 40.7192822 40.7236589
 40.74590997 40.72163014 40.71958612 40.72533993 40.71241882 40.72759597
 40.71925170000001 40.71821129999999 40.72528911 40.73074263 '40.71942'
 '40.72755147' '40.72572614' '40.72210379' '40.71517768' '40.71113'
 40.721123600000006 40.711242299999995 40.724605100000005 40.7443187
 40.74871595 40.737711 40.7272235 40.71653978 40.7311689 40.7376037
 40.72152515 40.73478582 40.71848892 40.712774200000005 40.73496102
 40.71346383 40.72601173 40.72333159 40.72165072 40.718355200000005
 40.71458404 40.71435837 40.70965083 40.71649 40.71942 40.7242941
 40.733670000000004 40.72755147 40.72572614 '40.7308971' 40.72210379
 40.7308971 40.7162469 40.717732500000004 40.71517768 40.71113 40.73520838]
Start Station Longitude
['-74.043845' '-74.0334588' '-74.04424731' '-74.06378388' '-74.05044364'
 '-74.0641943' '-74.03805095' '-74.0337589' '-74.04630454' '-74.0506564'
 '-74.0321082' '-74.08207968' '-74.04311746' '-74.0439909' '-74.0364857'
 '-74.0335519' '-74.0969366' '-74.0404433' '-74.0858489' '-74.0788855'
 '-74.05950308' '-74.066921' '-74.0524783' '-74.0575736' '-74.04772663'
 '-74.06762213' '-74.0492509' '-74.04963791' '-74.044725' '-74.07840595'
 '-74.0557013' '-74.0887723' '-74.05178863' '-74.0700388' '-74.0836394'
 'Start Station Longitude' '-74.04557168' '-74.03852552' '-74.04595256'
 '-74.06285852' '-74.04879034' '-74.04996783' '-74.04281706'
 '-74.04288411' '-74.03891444' '-74.08593088' '-74.05727148'
 '-74.08801228' '-74.05038893' '-74.07126188' '-74.06860113'
 '-74.06661093' 'start station longitude' '-74.04105' '-74.034234'
 '-74.0354826' '-74.0625' -74.04879034 -74.05178863 -74.05065640000001
 -74.0335519 -74.03210820000001 -74.07126188 -74.0641943 -74.05727148
 -74.04996783 -74.04311746 -74.06762213 -74.03852552 -74.04424731
 -74.034234 -74.08363940000001 -74.04557168 -74.06378388 '-74.05099'
 '-74.07106072' '-74.07195926' '-74.071455' '-74.03768331' '-74.0789'
 -74.03805095 -74.0557013 -74.07840595 -74.04399090000001
 -74.04044329999999 -74.066921 -74.03375890000001 -74.04963791 -74.0575736
 -74.05247829999999 -74.04630454 -74.05044364 -74.04772663
 -74.03648570000001 -74.05950308 -74.06285852 -74.05038893 -74.04595256
 -74.04288411 -74.03891444 -74.04281706 -74.06661093 -74.06860113
 -74.04105 -74.05099 -74.0354826 -74.0625 -74.07106072 -74.07195926
 '-74.06391263' -74.071455 -74.06391263 -74.0334588 -74.04384499999999
 -74.03768331 -74.0789 -74.04696375]
End Station ID
['3185' '3187' '3183' '3203' '3186' '3195' '3209' '3184' '3199' '3212'
 '3192' '3211' '3216' '3210' '3213' '3198' '3214' '3196' '3200' '3207'
 '3188' '3202' '3197' '3194' '3201' '3205' '3206' '3193' '3225' '3189'
 '3215' '3220' '3217' '3190' '3191' '501' '479' 'End Station ID' '514'
 '426' '405' '3173' '3169' '457' '466' '448' '505' '363' '247' '327' '309'
 '3178' '173' '252' '484' '329' '358' '315' '477' '428' '3002' '390' '225'
 '351' '3265' '304' '284' '3267' '3270' '3272' '3268' '276' '3279' '3278'
 '3273' '3276' '3271' '3274' '3281' '3275' '3314' '498' '380' '3331' '386'
 '3426' '427' '347' '359' '3085' '534' '360' '328' '3269' '446' '520'
 '3280' '2004' '393' '3277' '401' '376' '224' '249' '403' '295' '430'
 '2008' '147' '319' '2021' '152' '297' '267' '3442' 'end station id'
 '3256' '3175' '335' '379' '345' '3443' '462' '3307' '366' '482' '253'
 '383' '3383' '470' '195' '439' '3233' '459' '3328' '447' '161' '3428'
 '432' '212' '3436' '525' '3224' '3474' '515' '3236' '517' '486' '3472'
 '313' '3461' '259' '423' '128' '79' '238' '3481' '444' '217' '3161'
 '3480' '417' '508' '377' '435' '3167' '3638' '3639' '3640' '533' '127'
 '146' '478' 3211 3207 3186 3183 3481 3195 3203 3640 3185 3279 3193 3202
 3213 3268 3280 '303' '3541' '537' '3681' '3677' '3483' '3679' '3678'
 '472' '3415' '3552' '157' '3311' '3547' '2006' '3163' '3467' '331' '3694'
 '398' '526' '513' '3539' 3278 3267 3272 3194 3187 3681 3199 3214 3209
 3638 3275 3639 3192 3205 3276 3273 3270 3198 3483 3277 3184 3269 3206
 3678 3220 3191 3225 3679 3196 3677 3694 3212 3201 3210 3281 3426 514 327
 167 264 453 417 127 505 306 3356 422 '353' '336' '2023' '264' '3400'
 '3165' '254' '3709' '523' '468' '3170' '3258' 303 311 3168 3750 487 195
 3791]
End Station Name
['City Hall' 'Warren St' 'Exchange Place' 'Hamilton Park' 'Grove St PATH'
 'Sip Ave' 'Brunswick St' 'Paulus Hook' 'Newport Pkwy' 'Christ Hospital'
 'Liberty Light Rail' 'Newark Ave' 'Columbia Park' 'Pershing Field'
 'Van Vorst Park' 'Heights Elevator' 'Essex Light Rail' 'Riverview Park'
 'MLK Light Rail' 'Oakland Ave' 'NJCU' 'Newport PATH' 'North St'
 'McGinley Square' 'Dey St' 'JC Medical Center' 'Hilltop' 'Lincoln Park'
 'Baldwin at Montgomery' 'West Side Light Rail' 'Central Ave'
 '5 Corners Library' 'Bayside Park' 'Garfield Ave Station' 'Union St'
 'FDR Drive & E 35 St' '9 Ave & W 45 St' 'End Station Name'
 '12 Ave & W 40 St' 'West St & Chambers St'
 'Washington St & Gansevoort St' 'Riverside Blvd & W 67 St'
 'Riverside Dr & W 82 St' 'Broadway & W 58 St' 'W 25 St & 6 Ave'
 'W 37 St & 10 Ave' '6 Ave & W 33 St' 'West Thames St'
 'Perry St & Bleecker St' 'Vesey Pl & River Terrace' 'Murray St & West St'
 'Riverside Dr & W 78 St' 'Broadway & W 49 St'
 'MacDougal St & Washington Sq' 'W 44 St & 5 Ave'
 'Greenwich St & North Moore St' 'Christopher St & Greenwich St'
 'South St & Gouverneur Ln' 'W 41 St & 8 Ave' 'E 3 St & 1 Ave'
 'South End Ave & Liberty St' 'Duffield St & Willoughby St'
 'W 14 St & The High Line' 'Front St & Maiden Ln' 'E 2 St & 2 Ave E'
 'Broadway & Battery Pl' 'Greenwich Ave & 8 Ave' 'Morris Canal'
 'Jersey & 6th St' 'Jersey & 3rd' 'Lafayette Park'
 'Duane St & Greenwich St' 'Dixon Mills' 'Monmouth and 6th' 'Manila & 1st'
 'Marin Light Rail' 'Danforth Light Rail' 'Bethune Center'
 'Leonard Gordon Park' 'Columbus Drive' 'W 95 St & Broadway'
 'Broadway & W 32 St' 'W 4 St & 7 Ave S' 'Riverside Dr & W 104 St'
 'Centre St & Worth St' 'JCBS Depot' 'Bus Slip & State St'
 'Greenwich St & W Houston St' 'E 47 St & Park Ave' 'Roebling St & N 4 St'
 'Water - Whitehall Plaza' 'William St & Pine St'
 'Watts St & Greenwich St' 'Brunswick & 6th' 'W 24 St & 7 Ave'
 'W 52 St & 5 Ave' 'Astor Place' '6 Ave & Broome St' 'E 5 St & Avenue C'
 'Communipaw & Berry Lane' 'Allen St & Rivington St'
 'John St & William St' 'Spruce St & Nassau St' 'Harrison St & Hudson St'
 'E 2 St & 2 Ave' 'Pike St & E Broadway' 'York St & Jay St'
 'Little West St & 1 Pl' 'Greenwich St & Warren St' 'Fulton St & Broadway'
 'W 45 St & 8 Ave' 'Warren St & Church St' 'E 15 St & 3 Ave'
 'Broadway & W 36 St' 'Indiana' 'end station name'
 'Pier 40 - Hudson River Park' 'W 70 St & Amsterdam Ave'
 'Washington Pl & Broadway' 'W 31 St & 7 Ave' 'W 13 St & 6 Ave'
 'W 52 St & 6 Ave' 'W 22 St & 10 Ave' 'West End Ave & W 94 St'
 'Clinton Ave & Myrtle Ave' 'W 15 St & 7 Ave' 'W 13 St & 5 Ave'
 'Greenwich Ave & Charles St' 'Cathedral Pkwy & Broadway'
 'W 20 St & 8 Ave' 'Liberty St & Broadway' 'E 4 St & 2 Ave'
 'E 48 St & 5 Ave' 'W 20 St & 11 Ave' 'W 100 St & Manhattan Ave'
 '8 Ave & W 52 St' 'LaGuardia Pl & W 3 St' '8 Ave & W 16 St'
 'E 7 St & Avenue A' 'W 16 St & The High Line' 'Greenwich St & Hubert St'
 'W 34 St & 11 Ave' 'W 13 St & Hudson St' '6 Ave & Spring St'
 'W 43 St & 10 Ave' 'W 42 St & Dyer Ave' 'Pershing Square South'
 'Broadway & W 29 St' 'W 15 St & 10 Ave' 'Washington Ave & Park Ave'
 'Murray St & Greenwich St' 'South St & Whitehall St' 'W 54 St & 9 Ave'
 "Hs Don't Use" "JSQ Don't Use" 'MacDougal St & Prince St'
 'Franklin St & W Broadway' 'Bank St & Washington St' 'York St'
 'Broadway & W 24 St' 'Old Fulton St' 'W 76 St & Columbus Ave'
 "WS Don't Use" 'Barclay St & Church St' 'W 46 St & 11 Ave'
 '6 Ave & Canal St' 'W 21 St & 6 Ave' 'Amsterdam Ave & W 73 St'
 'Washington St' 'Harborside' 'Journal Square' 'Broadway & W 38 St'
 'Barrow St & Hudson St' 'Hudson St & Reade St' '11 Ave & W 41 St'
 'Mercer St & Spring St' 'Amsterdam Ave & W 125 St'
 'Lexington Ave & E 24 St' 'Grand St' 'Glenwood Ave' 'Montgomery St'
 'Bergen Ave' 'Fairmount Ave' 'E 32 St & Park Ave' 'Prospect Pl & 6 Ave'
 'W 113 St & Broadway' 'Henry St & Atlantic Ave' 'Columbia St & Kane St'
 'Broadway & Moylan Pl' 'Central Park S & 6 Ave'
 'Central Park West & W 68 St' 'W Broadway & Spring Street'
 'Pike St & Monroe St' 'Jackson Square' 'Atlantic Ave & Furman St'
 'E 33 St & 5 Ave' 'W 56 St & 10 Ave' 'W 116 St & Amsterdam Ave'
 'E 39 St & 3 Ave' 'Maiden Ln & Pearl St' 'W 22 St & 8 Ave'
 'Cliff St & Fulton St_1' 'Amsterdam Ave & W 66 St' 'W 59 St & 10 Ave'
 'S Portland Ave & Hanson Pl' 'Sullivan St & Washington Sq'
 'E 55 St & Lexington Ave' 'E 110 St & Madison Ave'
 'Central Park West & W 72 St' 'W 11 St & 6 Ave' 'W 15 St & 6 Ave'
 'W 38 St & 8 Ave' 'Broadway & W 56 St' 'W 84 St & Columbus Ave'
 'W 27 St & 10 Ave' 'Norfolk St & Broome St' 'Central Park West & W 85 St'
 'Forrest Tech Shop (parts testing)' 'E 20 St & FDR Drive'
 'Hoboken Ave at Monmouth St']
End Station Latitude

['40.7177325' '40.7211236' '40.7162469' '40.72759597' '40.71958612'
 '40.73074263' '40.7241765' '40.7141454' '40.7287448' '40.73478582'
 '40.7112423' '40.72152515' '40.6970299' '40.74267714' '40.71848892'
 '40.74871595' '40.7127742' '40.7443187' '40.7111305' '40.7376037'
 '40.7101087' '40.7272235' '40.752559' '40.72533993' '40.737711'
 '40.71653978' '40.7311689' '40.7246051' '40.7236589' '40.714402'
 '40.7467299' '40.73496102' '40.69865054' '40.71046702' '40.7182113'
 '40.744219' '40.76019252' 'End Station Latitude' '40.76087502'
 '40.71754834' '40.739323' '40.77750703' '40.78720869' '40.76695317'
 '40.74395411' '40.75660359' '40.74901271' '40.70834698' '40.73535398'
 '40.7153379' '40.7149787' '40.78414472' '40.76068327' '40.73226398'
 '40.75500254' '40.72015227' '40.73291553' '40.70355377' '40.75640548'
 '40.72467721' '40.711512' '40.69221589' '40.74195138' '40.70530954'
 '40.72456343' '40.70463334' '40.73901691' '40.71241882' '40.72528911'
 '40.72333159' '40.71346383' '40.71748752' '40.72163014' '40.72568548'
 '40.72165072' '40.71458404' '40.69263997' '40.70495752' '40.74590997'
 '40.7183552' '40.7937704' '40.74854862' '40.73401143' '40.8013434'
 '40.71494807' '40.70965083' '40.701907' '40.728846' '40.75510267'
 '40.71469' '40.70255065' '40.70717936' '40.72405549' '40.72601173'
 '40.74487634' '40.75992262' '40.7192822' '40.724399' '40.72299208'
 '40.71435837' '40.72019576' '40.70862144' '40.71146364' '40.71870987'
 '40.72502876' '40.71406667' '40.7014851' '40.70569254' '40.71542197'
 '40.711066' '40.75929124' '40.71473993' '40.734232' '40.75097711' '0'
 'end station latitude' '40.72771408' '40.77748046' '40.72903917'
 '40.749156' '40.73649403' '40.76132983' '40.74691959' '40.7941654'
 '40.693261' '40.73935542' '40.73543934' '40.735238' '40.804213'
 '40.74345335' '40.70905623' '40.7262807' '40.75724568' '40.746745'
 '40.795' '40.76370739' '40.72917025' '40.740983' '40.72621788'
 '40.74334935' '40.721319' '40.75594159' '40.73997354' '40.7252557'
 '40.76009437' '40.75898481' '40.751581' '40.7462009' '40.74275383'
 '40.69610226' '40.71485151' '40.70122128' '40.76584941' '40.71925171'
 '40.72710258' '40.71911552' '40.7361967' '40.71649' '40.7423543'
 '40.70277159' '40.78018397' '40.71291224' '40.76341379' '40.72243797'
 '40.74173969' '40.77966809' '40.7242941' '40.7192517' '40.73367'
 '40.75299641' '40.73172428' '40.71625008' '40.76030096' 40.72152515
 40.7376037 40.71958612 40.7162469 40.71649 40.73074263 40.72759597
 40.733670000000004 40.717732500000004 40.72163014 40.724605100000005
 40.7272235 40.71848892 40.71346383 40.7192822 '40.72362738' '40.813358'
 '40.74025878' '40.71517768' '40.72755147' '40.71942' '40.72210379'
 '40.72572614' '40.7457121' '40.6793307' '40.805973' '40.69089272'
 '40.68763155' '40.8143256' '40.76590936' '40.7734066' '40.72494672'
 '40.71173107' '40.71113' '40.69165183' '40.74765947' '40.768254'
 '40.8067581' 40.72568548 40.71241882 40.72333159 40.72533993
 40.721123600000006 40.71517768 40.728744799999994 40.712774200000005
 40.7241765 40.7242941 40.718355200000005 40.71925170000001
 40.711242299999995 40.71653978 40.71458404 40.72165072 40.72528911
 40.74871595 40.71942 40.71435837 40.7141454 40.72601173 40.7311689
 40.72572614 40.73496102 40.71821129999999 40.7236589 40.72210379
 40.7443187 40.72755147 40.71113 40.73478582 40.737711 40.74267714
 40.74590997 40.70965083 40.76087502 40.715337899999994 40.7489006
 40.70706456 40.74475148 40.71291224 40.73172428 40.74901271 40.70823502
 40.7746671 40.770513 '40.68539567' '40.73047747' '40.75968085'
 '40.70706456' '40.7961535' '40.77579377' '40.73532427' '40.73804614'
 '40.7308971' '40.75466591' '40.7652654' '40.78499979' '40.75018156'
 40.7308971 40.72362738 40.7172274 40.78472675 40.70300569 40.73314259
 40.70905623 40.73520838]
End Station Longitude
['-74.043845' '-74.03805095' '-74.0334588' '-74.04424731' '-74.04311746'
 '-74.06378388' '-74.0506564' '-74.0335519' '-74.0321082' '-74.05044364'
 '-74.0557013' '-74.04630454' '-74.0969366' '-74.05178863' '-74.04772663'
 '-74.0404433' '-74.0364857' '-74.0439909' '-74.0788855' '-74.0524783'
 '-74.0858489' '-74.0337589' '-74.044725' '-74.06762213' '-74.066921'
 '-74.04963791' '-74.0575736' '-74.07840595' '-74.0641943' '-74.0887723'
 '-74.0492509' '-74.05950308' '-74.08207968' '-74.0700388' '-74.0836394'
 '-73.97121214' '-73.9912551' 'End Station Longitude' '-74.00277668'
 '-74.01322069' '-74.008119' '-73.98888588' '-73.98128127' '-73.98169333'
 '-73.99144871' '-73.9979009' '-73.98848395' '-74.01713445' '-74.00483091'
 '-74.01658354' '-74.013012' '-73.98362492' '-73.98452729' '-73.99852205'
 '-73.98014437' '-74.01036501' '-74.00711384' '-74.00670227' '-73.9900262'
 '-73.98783413' '-74.015756' '-73.9842844' '-74.00803013' '-74.00612572'
 '-73.98944378' '-74.01361706' '-74.00263761' '-74.03852552'
 '-74.04557168' '-74.04595256' '-74.06285852' '-74.0104554' '-74.04996783'
 '-74.04879034' '-74.04288411' '-74.04281706' '-74.08801228'
 '-74.08593088' '-74.05727148' '-74.03891444' '-73.971888' '-73.98808416'
 '-74.00293877' '-73.97114574' '-74.00234482' '-74.06860113' '-74.013942'
 '-74.008591' '-73.97498696' '-73.95739' '-74.0127234' '-74.00887308'
 '-74.00965965' '-74.05038893' '-73.99529885' '-73.97648516'
 '-74.07126188' '-74.004704' '-73.97995466' '-74.06661093' '-73.98997825'
 '-74.00722156' '-74.00552427' '-74.0090009' '-73.99069656' '-73.99293911'
 '-73.98656928' '-74.01677685' '-74.01121978' '-74.009447' '-73.98859651'
 '-74.00910627' '-73.986923' '-73.98765428' '0' 'end station longitude'
 '-74.01129574' '-73.98288594' '-73.99404649' '-73.9916' '-73.99704374'
 '-73.97982001' '-74.00451887' '-73.974124' '-73.968896' '-73.99931783'
 '-73.99453948' '-74.000271' '-73.96699104' '-74.00004031' '-74.01043382'
 '-73.98978041' '-73.97805914' '-74.007756' '-73.9645' '-73.9851615'
 '-73.99810231' '-74.001702' '-73.98379855' '-74.00681753' '-74.010065'
 '-74.0021163' '-74.00513873' '-74.00412083' '-73.99461843' '-73.99379969'
 '-73.97791' '-73.98855723' '-74.00747359' '-73.96751037' '-74.01122332'
 '-74.01234218' '-73.98690506' '-74.03423399' '-74.00297088'
 '-74.00666661' '-74.00859207' '-74.04105' '-73.98915076' '-73.99383605'
 '-73.97728533' '-74.01020234' '-73.99667444' '-74.00566443'
 '-73.99415556' '-73.98093045' '-74.0354826' '-74.034234' '-74.0625'
 '-73.98721619' '-74.00674436' '-74.0091059' '-73.99884222' -74.04630454
 -74.05247829999999 -74.04311746 -74.0334588 -74.04105 -74.06378388
 -74.04424731 -74.0625 -74.04384499999999 -74.04996783 -74.07840595
 -74.03375890000001 -74.04772663 -74.06285852 -74.07126188 '-73.99949601'
 '-73.956461' '-73.98409214' '-74.03768331' '-74.07106072' '-74.05099'
 '-74.071455' '-74.07195926' '-73.98194829' '-73.97519523' '-73.964928'
 '-73.99612349' '-74.0016256' '-73.9590255' '-73.97634151' '-73.97782542'
 '-74.00165856' '-73.99193043' '-74.0789' '-73.9999786' '-73.98490707'
 '-73.988639' '-73.9607082' -74.04879034 -74.03852552 -74.04595256
 -74.06762213 -74.03805095 -74.03768331 -74.03210820000001
 -74.03648570000001 -74.05065640000001 -74.0354826 -74.03891444 -74.034234
 -74.0557013 -74.04963791 -74.04281706 -74.04288411 -74.04557168
 -74.04044329999999 -74.05099 -74.06661093 -74.0335519 -74.05038893
 -74.0575736 -74.07195926 -74.05950308 -74.08363940000001 -74.0641943
 -74.071455 -74.04399090000001 -74.07106072 -74.0789 -74.05044364
 -74.066921 -74.05178863 -74.05727148 -74.06860113 -74.00277668
 -74.01658354 -73.97604882 -74.00731853 -73.99915362 -74.01020234
 -74.00674436 -73.98848395 -74.00530063 -73.98470567 -73.988038
 '-73.97431458' '-73.99906065' '-73.97031366' '-74.00731853'
 '-73.94782145' '-73.97620574' '-73.99800419' '-73.99642959'
 '-74.06391263' '-73.99138152' '-73.98192338' '-73.97283406'
 '-74.00218427' -74.06391263 -73.99949601 -73.98802084 -73.96961715
 -73.93207671 -73.97573881 -74.01043382 -74.04696375]
Bike ID
['24722' '24388' '24442' ... 16436 35248 15331]
User Type
['Subscriber' 'Customer' 'User Type' nan 'usertype']
Birth Year
['1975' nan '1962' '1977' '1987' '1964' '1961' '1952' '1967' '1965' '1971'
 '1984' '1983' '1982' '1976' '1970' '1948' '1963' '1981' '1985' '1989'
 '1980' '1944' '1951' '1973' '1991' '1972' '1990' '1960' '1988' '1986'
 '1979' '1969' '1978' '1992' '1974' '1968' '1993' '1956' '1959' '1953'
 '1999' '1954' '1996' '1955' '1957' '1900' '1966' '1958' '1994' '1949'
 '1946' '1995' '1997' 'Birth Year' '1950' '1941' '1940' '1947' '1998'
 '1943' '1945' '2000' '1934' '1942' '1937' '1931' 'birth year' '2001'
 '1887' '1923' '1939' 1979 1983 1994 1999 1992 1953 1960 1976 1978 1987
 1986 1982 1981 1974 1980 1990 1991 1957 1964 '1888' '2002' 1985 1951 1971
 1975 1988 1989 1969 1984 1958 1993 1959 1997 1973 1995 1968 1972 1963
 1967 1996 1954 1966 1956 1977 1952 1998 1962 1970 1950 1961 2000 1965
 2002 1946 1955 1888 1949 1900 1944 2001 1948 1941 '1904' '2003' '1918'
 '1889' 1947 1889]
Gender
['1' '0' '2' 'Gender' 'gender' 1 2 0]

In [18]:
#Delete rows with remaining headers from concatenation
data.loc[data['Gender'] == 'Gender']

,Trip Duration,Year,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
6668,Trip Duration,2015,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
25933,Trip Duration,2015,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
41047,Trip Duration,2015,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
16342,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
35831,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
59779,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
84216,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
118366,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
151792,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
159272,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
188884,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
210717,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
225832,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
234083,Trip Duration,2016,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
12926,Trip Duration,2017,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
26953,Trip Duration,2017,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender

In [19]:
data = data.drop(data.loc[data['Gender'] == 'Gender'].index)

In [20]:
data[data['Gender']=='gender']

,Trip Duration,Year,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
39155,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
60342,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
86309,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
118370,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
151944,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
187417,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
220537,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
255457,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
279040,tripduration,2017,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
12677,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
27782,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
44892,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
68527,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
102984,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
143922,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
186191,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
230624,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
269647,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
308786,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
333697,tripduration,2018,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
19676,tripduration,2019,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
38242,tripduration,2019,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
61849,tripduration,2019,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
94906,tripduration,2019,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender

In [21]:
data = data.drop(data[data['Gender']=='gender'].index)
data.head()

,Trip Duration,Year,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,61,2015,21/09/2015 14:53,21/09/2015 14:54,3185,City Hall,40.7177325,-74.043845,3185,City Hall,40.7177325,-74.043845,24722,Subscriber,1975,1
1,290,2015,21/09/2015 14:55,21/09/2015 15:00,3183,Exchange Place,40.7162469,-74.0334588,3187,Warren St,40.7211236,-74.03805095,24388,Customer,NaN,0
2,786,2015,21/09/2015 14:56,21/09/2015 15:09,3183,Exchange Place,40.7162469,-74.0334588,3183,Exchange Place,40.7162469,-74.0334588,24442,Subscriber,1962,1
3,477,2015,21/09/2015 14:58,21/09/2015 15:06,3203,Hamilton Park,40.72759597,-74.04424731,3203,Hamilton Park,40.72759597,-74.04424731,24678,Subscriber,1977,2
4,451,2015,21/09/2015 14:59,21/09/2015 15:07,3203,Hamilton Park,40.72759597,-74.04424731,3186,Grove St PATH,40.71958612,-74.04311746,24574,Subscriber,1977,2

In [22]:
  for column in data:
    print(column)
    print(data[column].unique())

Trip Duration
['61' '290' '786' ... 3791 3557 3562]
Year
[2015 2016 2017 2018 2019]
Start Time
['21/09/2015 14:53' '21/09/2015 14:55' '21/09/2015 14:56' ...
 '31/05/2019 23:51' '31/05/2019 23:55' '31/05/2019 23:56']
Stop Time
['21/09/2015 14:54' '21/09/2015 15:00' '21/09/2015 15:09' ...
 '01/06/2019 00:04' '01/06/2019 00:01' '01/06/2019 00:05']
Start Station ID
['3185' '3183' '3203' '3195' '3212' '3225' '3187' '3202' '3211' '3209'
 '3199' '3217' '3186' '3196' '3214' '3184' '3216' '3198' '3188' '3200'
 '3220' '3201' '3207' '3206' '3213' '3194' '3215' '3205' '3197' '3193'
 '3192' '3189' '3210' '3190' '3191' '3270' '3267' '3272' '3268' '3278'
 '3279' '3276' '3273' '3275' '3274' '3281' '3271' '3269' '3280' '3426'
 '3277' '3481' '3639' '3638' '3640' 3278 3210 3209 3184 3199 3280 3225
 3281 3279 3186 3194 3267 3203 3639 3191 3270 3195 '3483' '3677' '3678'
 '3679' '3681' '3694' 3187 3192 3193 3196 3198 3201 3202 3205 3206 3207
 3211 3212 3213 3214 3220 3268 3269 3272 3273 3275 3276 3277 3426 3481
 3483 3638 3640 3677 3678 3679 3183 3185 3681 3694 3791]
Start Station Name
['City Hall' 'Exchange Place' 'Hamilton Park' 'Sip Ave' 'Christ Hospital'
 'Baldwin at Montgomery' 'Warren St' 'Newport PATH' 'Newark Ave'
 'Brunswick St' 'Newport Pkwy' 'Bayside Park' 'Grove St PATH'
 'Riverview Park' 'Essex Light Rail' 'Paulus Hook' 'Columbia Park'
 'Heights Elevator' 'NJCU' 'MLK Light Rail' '5 Corners Library' 'Dey St'
 'Oakland Ave' 'Hilltop' 'Van Vorst Park' 'McGinley Square' 'Central Ave'
 'JC Medical Center' 'North St' 'Lincoln Park' 'Liberty Light Rail'
 'West Side Light Rail' 'Pershing Field' 'Garfield Ave Station' 'Union St'
 'Jersey & 6th St' 'Morris Canal' 'Jersey & 3rd' 'Lafayette Park'
 'Monmouth and 6th' 'Dixon Mills' 'Marin Light Rail' 'Manila & 1st'
 'Columbus Drive' 'Bethune Center' 'Leonard Gordon Park'
 'Danforth Light Rail' 'Brunswick & 6th' 'Astor Place' 'JCBS Depot'
 'Communipaw & Berry Lane' 'York St' 'Harborside' 'Washington St'
 'Journal Square' 'Montgomery St' 'Glenwood Ave' 'Fairmount Ave'
 'Bergen Ave' 'Grand St' 'Jackson Square' 'Hoboken Ave at Monmouth St']
Start Station Latitude
['40.7177325' '40.7162469' '40.72759597' '40.73074263' '40.73478582'
 '40.7236589' '40.7211236' '40.7272235' '40.72152515' '40.7241765'
 '40.7287448' '40.69865054' '40.71958612' '40.7443187' '40.7127742'
 '40.7141454' '40.6970299' '40.74871595' '40.7101087' '40.7111305'
 '40.73496102' '40.737711' '40.7376037' '40.7311689' '40.71848892'
 '40.72533993' '40.7467299' '40.71653978' '40.752559' '40.7246051'
 '40.7112423' '40.714402' '40.74267714' '40.71046702' '40.7182113'
 '40.72528911' '40.71241882' '40.72333159' '40.71346383' '40.72568548'
 '40.72163014' '40.71458404' '40.72165072' '40.7183552' '40.70495752'
 '40.74590997' '40.69263997' '40.72601173' '40.7192822' '40.70965083'
 '40.71435837' '40.71649' '40.7192517' '40.7242941' '40.73367' 40.72568548
 40.74267714 40.7241765 40.7141454 40.728744799999994 40.7192822
 40.7236589 40.74590997 40.72163014 40.71958612 40.72533993 40.71241882
 40.72759597 40.71925170000001 40.71821129999999 40.72528911 40.73074263
 '40.71942' '40.72755147' '40.72572614' '40.72210379' '40.71517768'
 '40.71113' 40.721123600000006 40.711242299999995 40.724605100000005
 40.7443187 40.74871595 40.737711 40.7272235 40.71653978 40.7311689
 40.7376037 40.72152515 40.73478582 40.71848892 40.712774200000005
 40.73496102 40.71346383 40.72601173 40.72333159 40.72165072
 40.718355200000005 40.71458404 40.71435837 40.70965083 40.71649 40.71942
 40.7242941 40.733670000000004 40.72755147 40.72572614 '40.7308971'
 40.72210379 40.7308971 40.7162469 40.717732500000004 40.71517768 40.71113
 40.73520838]
Start Station Longitude
['-74.043845' '-74.0334588' '-74.04424731' '-74.06378388' '-74.05044364'
 '-74.0641943' '-74.03805095' '-74.0337589' '-74.04630454' '-74.0506564'
 '-74.0321082' '-74.08207968' '-74.04311746' '-74.0439909' '-74.0364857'
 '-74.0335519' '-74.0969366' '-74.0404433' '-74.0858489' '-74.0788855'
 '-74.05950308' '-74.066921' '-74.0524783' '-74.0575736' '-74.04772663'
 '-74.06762213' '-74.0492509' '-74.04963791' '-74.044725' '-74.07840595'
 '-74.0557013' '-74.0887723' '-74.05178863' '-74.0700388' '-74.0836394'
 '-74.04557168' '-74.03852552' '-74.04595256' '-74.06285852'
 '-74.04879034' '-74.04996783' '-74.04281706' '-74.04288411'
 '-74.03891444' '-74.08593088' '-74.05727148' '-74.08801228'
 '-74.05038893' '-74.07126188' '-74.06860113' '-74.06661093' '-74.04105'
 '-74.034234' '-74.0354826' '-74.0625' -74.04879034 -74.05178863
 -74.05065640000001 -74.0335519 -74.03210820000001 -74.07126188
 -74.0641943 -74.05727148 -74.04996783 -74.04311746 -74.06762213
 -74.03852552 -74.04424731 -74.034234 -74.08363940000001 -74.04557168
 -74.06378388 '-74.05099' '-74.07106072' '-74.07195926' '-74.071455'
 '-74.03768331' '-74.0789' -74.03805095 -74.0557013 -74.07840595
 -74.04399090000001 -74.04044329999999 -74.066921 -74.03375890000001
 -74.04963791 -74.0575736 -74.05247829999999 -74.04630454 -74.05044364
 -74.04772663 -74.03648570000001 -74.05950308 -74.06285852 -74.05038893
 -74.04595256 -74.04288411 -74.03891444 -74.04281706 -74.06661093
 -74.06860113 -74.04105 -74.05099 -74.0354826 -74.0625 -74.07106072
 -74.07195926 '-74.06391263' -74.071455 -74.06391263 -74.0334588
 -74.04384499999999 -74.03768331 -74.0789 -74.04696375]
End Station ID
['3185' '3187' '3183' '3203' '3186' '3195' '3209' '3184' '3199' '3212'
 '3192' '3211' '3216' '3210' '3213' '3198' '3214' '3196' '3200' '3207'
 '3188' '3202' '3197' '3194' '3201' '3205' '3206' '3193' '3225' '3189'
 '3215' '3220' '3217' '3190' '3191' '501' '479' '514' '426' '405' '3173'
 '3169' '457' '466' '448' '505' '363' '247' '327' '309' '3178' '173' '252'
 '484' '329' '358' '315' '477' '428' '3002' '390' '225' '351' '3265' '304'
 '284' '3267' '3270' '3272' '3268' '276' '3279' '3278' '3273' '3276'
 '3271' '3274' '3281' '3275' '3314' '498' '380' '3331' '386' '3426' '427'
 '347' '359' '3085' '534' '360' '328' '3269' '446' '520' '3280' '2004'
 '393' '3277' '401' '376' '224' '249' '403' '295' '430' '2008' '147' '319'
 '2021' '152' '297' '267' '3442' '3256' '3175' '335' '379' '345' '3443'
 '462' '3307' '366' '482' '253' '383' '3383' '470' '195' '439' '3233'
 '459' '3328' '447' '161' '3428' '432' '212' '3436' '525' '3224' '3474'
 '515' '3236' '517' '486' '3472' '313' '3461' '259' '423' '128' '79' '238'
 '3481' '444' '217' '3161' '3480' '417' '508' '377' '435' '3167' '3638'
 '3639' '3640' '533' '127' '146' '478' 3211 3207 3186 3183 3481 3195 3203
 3640 3185 3279 3193 3202 3213 3268 3280 '303' '3541' '537' '3681' '3677'
 '3483' '3679' '3678' '472' '3415' '3552' '157' '3311' '3547' '2006'
 '3163' '3467' '331' '3694' '398' '526' '513' '3539' 3278 3267 3272 3194
 3187 3681 3199 3214 3209 3638 3275 3639 3192 3205 3276 3273 3270 3198
 3483 3277 3184 3269 3206 3678 3220 3191 3225 3679 3196 3677 3694 3212
 3201 3210 3281 3426 514 327 167 264 453 417 127 505 306 3356 422 '353'
 '336' '2023' '264' '3400' '3165' '254' '3709' '523' '468' '3170' '3258'
 303 311 3168 3750 487 195 3791]
End Station Name
['City Hall' 'Warren St' 'Exchange Place' 'Hamilton Park' 'Grove St PATH'
 'Sip Ave' 'Brunswick St' 'Paulus Hook' 'Newport Pkwy' 'Christ Hospital'
 'Liberty Light Rail' 'Newark Ave' 'Columbia Park' 'Pershing Field'
 'Van Vorst Park' 'Heights Elevator' 'Essex Light Rail' 'Riverview Park'
 'MLK Light Rail' 'Oakland Ave' 'NJCU' 'Newport PATH' 'North St'
 'McGinley Square' 'Dey St' 'JC Medical Center' 'Hilltop' 'Lincoln Park'
 'Baldwin at Montgomery' 'West Side Light Rail' 'Central Ave'
 '5 Corners Library' 'Bayside Park' 'Garfield Ave Station' 'Union St'
 'FDR Drive & E 35 St' '9 Ave & W 45 St' '12 Ave & W 40 St'
 'West St & Chambers St' 'Washington St & Gansevoort St'
 'Riverside Blvd & W 67 St' 'Riverside Dr & W 82 St' 'Broadway & W 58 St'
 'W 25 St & 6 Ave' 'W 37 St & 10 Ave' '6 Ave & W 33 St' 'West Thames St'
 'Perry St & Bleecker St' 'Vesey Pl & River Terrace' 'Murray St & West St'
 'Riverside Dr & W 78 St' 'Broadway & W 49 St'
 'MacDougal St & Washington Sq' 'W 44 St & 5 Ave'
 'Greenwich St & North Moore St' 'Christopher St & Greenwich St'
 'South St & Gouverneur Ln' 'W 41 St & 8 Ave' 'E 3 St & 1 Ave'
 'South End Ave & Liberty St' 'Duffield St & Willoughby St'
 'W 14 St & The High Line' 'Front St & Maiden Ln' 'E 2 St & 2 Ave E'
 'Broadway & Battery Pl' 'Greenwich Ave & 8 Ave' 'Morris Canal'
 'Jersey & 6th St' 'Jersey & 3rd' 'Lafayette Park'
 'Duane St & Greenwich St' 'Dixon Mills' 'Monmouth and 6th' 'Manila & 1st'
 'Marin Light Rail' 'Danforth Light Rail' 'Bethune Center'
 'Leonard Gordon Park' 'Columbus Drive' 'W 95 St & Broadway'
 'Broadway & W 32 St' 'W 4 St & 7 Ave S' 'Riverside Dr & W 104 St'
 'Centre St & Worth St' 'JCBS Depot' 'Bus Slip & State St'
 'Greenwich St & W Houston St' 'E 47 St & Park Ave' 'Roebling St & N 4 St'
 'Water - Whitehall Plaza' 'William St & Pine St'
 'Watts St & Greenwich St' 'Brunswick & 6th' 'W 24 St & 7 Ave'
 'W 52 St & 5 Ave' 'Astor Place' '6 Ave & Broome St' 'E 5 St & Avenue C'
 'Communipaw & Berry Lane' 'Allen St & Rivington St'
 'John St & William St' 'Spruce St & Nassau St' 'Harrison St & Hudson St'
 'E 2 St & 2 Ave' 'Pike St & E Broadway' 'York St & Jay St'
 'Little West St & 1 Pl' 'Greenwich St & Warren St' 'Fulton St & Broadway'
 'W 45 St & 8 Ave' 'Warren St & Church St' 'E 15 St & 3 Ave'
 'Broadway & W 36 St' 'Indiana' 'Pier 40 - Hudson River Park'
 'W 70 St & Amsterdam Ave' 'Washington Pl & Broadway' 'W 31 St & 7 Ave'
 'W 13 St & 6 Ave' 'W 52 St & 6 Ave' 'W 22 St & 10 Ave'
 'West End Ave & W 94 St' 'Clinton Ave & Myrtle Ave' 'W 15 St & 7 Ave'
 'W 13 St & 5 Ave' 'Greenwich Ave & Charles St'
 'Cathedral Pkwy & Broadway' 'W 20 St & 8 Ave' 'Liberty St & Broadway'
 'E 4 St & 2 Ave' 'E 48 St & 5 Ave' 'W 20 St & 11 Ave'
 'W 100 St & Manhattan Ave' '8 Ave & W 52 St' 'LaGuardia Pl & W 3 St'
 '8 Ave & W 16 St' 'E 7 St & Avenue A' 'W 16 St & The High Line'
 'Greenwich St & Hubert St' 'W 34 St & 11 Ave' 'W 13 St & Hudson St'
 '6 Ave & Spring St' 'W 43 St & 10 Ave' 'W 42 St & Dyer Ave'
 'Pershing Square South' 'Broadway & W 29 St' 'W 15 St & 10 Ave'
 'Washington Ave & Park Ave' 'Murray St & Greenwich St'
 'South St & Whitehall St' 'W 54 St & 9 Ave' "Hs Don't Use"
 "JSQ Don't Use" 'MacDougal St & Prince St' 'Franklin St & W Broadway'
 'Bank St & Washington St' 'York St' 'Broadway & W 24 St' 'Old Fulton St'
 'W 76 St & Columbus Ave' "WS Don't Use" 'Barclay St & Church St'
 'W 46 St & 11 Ave' '6 Ave & Canal St' 'W 21 St & 6 Ave'
 'Amsterdam Ave & W 73 St' 'Washington St' 'Harborside' 'Journal Square'
 'Broadway & W 38 St' 'Barrow St & Hudson St' 'Hudson St & Reade St'
 '11 Ave & W 41 St' 'Mercer St & Spring St' 'Amsterdam Ave & W 125 St'
 'Lexington Ave & E 24 St' 'Grand St' 'Glenwood Ave' 'Montgomery St'
 'Bergen Ave' 'Fairmount Ave' 'E 32 St & Park Ave' 'Prospect Pl & 6 Ave'
 'W 113 St & Broadway' 'Henry St & Atlantic Ave' 'Columbia St & Kane St'
 'Broadway & Moylan Pl' 'Central Park S & 6 Ave'
 'Central Park West & W 68 St' 'W Broadway & Spring Street'
 'Pike St & Monroe St' 'Jackson Square' 'Atlantic Ave & Furman St'
 'E 33 St & 5 Ave' 'W 56 St & 10 Ave' 'W 116 St & Amsterdam Ave'
 'E 39 St & 3 Ave' 'Maiden Ln & Pearl St' 'W 22 St & 8 Ave'
 'Cliff St & Fulton St_1' 'Amsterdam Ave & W 66 St' 'W 59 St & 10 Ave'
 'S Portland Ave & Hanson Pl' 'Sullivan St & Washington Sq'
 'E 55 St & Lexington Ave' 'E 110 St & Madison Ave'
 'Central Park West & W 72 St' 'W 11 St & 6 Ave' 'W 15 St & 6 Ave'
 'W 38 St & 8 Ave' 'Broadway & W 56 St' 'W 84 St & Columbus Ave'
 'W 27 St & 10 Ave' 'Norfolk St & Broome St' 'Central Park West & W 85 St'
 'Forrest Tech Shop (parts testing)' 'E 20 St & FDR Drive'
 'Hoboken Ave at Monmouth St']
End Station Latitude
['40.7177325' '40.7211236' '40.7162469' '40.72759597' '40.71958612'
 '40.73074263' '40.7241765' '40.7141454' '40.7287448' '40.73478582'
 '40.7112423' '40.72152515' '40.6970299' '40.74267714' '40.71848892'
 '40.74871595' '40.7127742' '40.7443187' '40.7111305' '40.7376037'
 '40.7101087' '40.7272235' '40.752559' '40.72533993' '40.737711'
 '40.71653978' '40.7311689' '40.7246051' '40.7236589' '40.714402'
 '40.7467299' '40.73496102' '40.69865054' '40.71046702' '40.7182113'
 '40.744219' '40.76019252' '40.76087502' '40.71754834' '40.739323'
 '40.77750703' '40.78720869' '40.76695317' '40.74395411' '40.75660359'
 '40.74901271' '40.70834698' '40.73535398' '40.7153379' '40.7149787'
 '40.78414472' '40.76068327' '40.73226398' '40.75500254' '40.72015227'
 '40.73291553' '40.70355377' '40.75640548' '40.72467721' '40.711512'
 '40.69221589' '40.74195138' '40.70530954' '40.72456343' '40.70463334'
 '40.73901691' '40.71241882' '40.72528911' '40.72333159' '40.71346383'
 '40.71748752' '40.72163014' '40.72568548' '40.72165072' '40.71458404'
 '40.69263997' '40.70495752' '40.74590997' '40.7183552' '40.7937704'
 '40.74854862' '40.73401143' '40.8013434' '40.71494807' '40.70965083'
 '40.701907' '40.728846' '40.75510267' '40.71469' '40.70255065'
 '40.70717936' '40.72405549' '40.72601173' '40.74487634' '40.75992262'
 '40.7192822' '40.724399' '40.72299208' '40.71435837' '40.72019576'
 '40.70862144' '40.71146364' '40.71870987' '40.72502876' '40.71406667'
 '40.7014851' '40.70569254' '40.71542197' '40.711066' '40.75929124'
 '40.71473993' '40.734232' '40.75097711' '0' '40.72771408' '40.77748046'
 '40.72903917' '40.749156' '40.73649403' '40.76132983' '40.74691959'
 '40.7941654' '40.693261' '40.73935542' '40.73543934' '40.735238'
 '40.804213' '40.74345335' '40.70905623' '40.7262807' '40.75724568'
 '40.746745' '40.795' '40.76370739' '40.72917025' '40.740983'
 '40.72621788' '40.74334935' '40.721319' '40.75594159' '40.73997354'
 '40.7252557' '40.76009437' '40.75898481' '40.751581' '40.7462009'
 '40.74275383' '40.69610226' '40.71485151' '40.70122128' '40.76584941'
 '40.71925171' '40.72710258' '40.71911552' '40.7361967' '40.71649'
 '40.7423543' '40.70277159' '40.78018397' '40.71291224' '40.76341379'
 '40.72243797' '40.74173969' '40.77966809' '40.7242941' '40.7192517'
 '40.73367' '40.75299641' '40.73172428' '40.71625008' '40.76030096'
 40.72152515 40.7376037 40.71958612 40.7162469 40.71649 40.73074263
 40.72759597 40.733670000000004 40.717732500000004 40.72163014
 40.724605100000005 40.7272235 40.71848892 40.71346383 40.7192822
 '40.72362738' '40.813358' '40.74025878' '40.71517768' '40.72755147'
 '40.71942' '40.72210379' '40.72572614' '40.7457121' '40.6793307'
 '40.805973' '40.69089272' '40.68763155' '40.8143256' '40.76590936'
 '40.7734066' '40.72494672' '40.71173107' '40.71113' '40.69165183'
 '40.74765947' '40.768254' '40.8067581' 40.72568548 40.71241882
 40.72333159 40.72533993 40.721123600000006 40.71517768 40.728744799999994
 40.712774200000005 40.7241765 40.7242941 40.718355200000005
 40.71925170000001 40.711242299999995 40.71653978 40.71458404 40.72165072
 40.72528911 40.74871595 40.71942 40.71435837 40.7141454 40.72601173
 40.7311689 40.72572614 40.73496102 40.71821129999999 40.7236589
 40.72210379 40.7443187 40.72755147 40.71113 40.73478582 40.737711
 40.74267714 40.74590997 40.70965083 40.76087502 40.715337899999994
 40.7489006 40.70706456 40.74475148 40.71291224 40.73172428 40.74901271
 40.70823502 40.7746671 40.770513 '40.68539567' '40.73047747'
 '40.75968085' '40.70706456' '40.7961535' '40.77579377' '40.73532427'
 '40.73804614' '40.7308971' '40.75466591' '40.7652654' '40.78499979'
 '40.75018156' 40.7308971 40.72362738 40.7172274 40.78472675 40.70300569
 40.73314259 40.70905623 40.73520838]
End Station Longitude

['-74.043845' '-74.03805095' '-74.0334588' '-74.04424731' '-74.04311746'
 '-74.06378388' '-74.0506564' '-74.0335519' '-74.0321082' '-74.05044364'
 '-74.0557013' '-74.04630454' '-74.0969366' '-74.05178863' '-74.04772663'
 '-74.0404433' '-74.0364857' '-74.0439909' '-74.0788855' '-74.0524783'
 '-74.0858489' '-74.0337589' '-74.044725' '-74.06762213' '-74.066921'
 '-74.04963791' '-74.0575736' '-74.07840595' '-74.0641943' '-74.0887723'
 '-74.0492509' '-74.05950308' '-74.08207968' '-74.0700388' '-74.0836394'
 '-73.97121214' '-73.9912551' '-74.00277668' '-74.01322069' '-74.008119'
 '-73.98888588' '-73.98128127' '-73.98169333' '-73.99144871' '-73.9979009'
 '-73.98848395' '-74.01713445' '-74.00483091' '-74.01658354' '-74.013012'
 '-73.98362492' '-73.98452729' '-73.99852205' '-73.98014437'
 '-74.01036501' '-74.00711384' '-74.00670227' '-73.9900262' '-73.98783413'
 '-74.015756' '-73.9842844' '-74.00803013' '-74.00612572' '-73.98944378'
 '-74.01361706' '-74.00263761' '-74.03852552' '-74.04557168'
 '-74.04595256' '-74.06285852' '-74.0104554' '-74.04996783' '-74.04879034'
 '-74.04288411' '-74.04281706' '-74.08801228' '-74.08593088'
 '-74.05727148' '-74.03891444' '-73.971888' '-73.98808416' '-74.00293877'
 '-73.97114574' '-74.00234482' '-74.06860113' '-74.013942' '-74.008591'
 '-73.97498696' '-73.95739' '-74.0127234' '-74.00887308' '-74.00965965'
 '-74.05038893' '-73.99529885' '-73.97648516' '-74.07126188' '-74.004704'
 '-73.97995466' '-74.06661093' '-73.98997825' '-74.00722156'
 '-74.00552427' '-74.0090009' '-73.99069656' '-73.99293911' '-73.98656928'
 '-74.01677685' '-74.01121978' '-74.009447' '-73.98859651' '-74.00910627'
 '-73.986923' '-73.98765428' '0' '-74.01129574' '-73.98288594'
 '-73.99404649' '-73.9916' '-73.99704374' '-73.97982001' '-74.00451887'
 '-73.974124' '-73.968896' '-73.99931783' '-73.99453948' '-74.000271'
 '-73.96699104' '-74.00004031' '-74.01043382' '-73.98978041'
 '-73.97805914' '-74.007756' '-73.9645' '-73.9851615' '-73.99810231'
 '-74.001702' '-73.98379855' '-74.00681753' '-74.010065' '-74.0021163'
 '-74.00513873' '-74.00412083' '-73.99461843' '-73.99379969' '-73.97791'
 '-73.98855723' '-74.00747359' '-73.96751037' '-74.01122332'
 '-74.01234218' '-73.98690506' '-74.03423399' '-74.00297088'
 '-74.00666661' '-74.00859207' '-74.04105' '-73.98915076' '-73.99383605'
 '-73.97728533' '-74.01020234' '-73.99667444' '-74.00566443'
 '-73.99415556' '-73.98093045' '-74.0354826' '-74.034234' '-74.0625'
 '-73.98721619' '-74.00674436' '-74.0091059' '-73.99884222' -74.04630454
 -74.05247829999999 -74.04311746 -74.0334588 -74.04105 -74.06378388
 -74.04424731 -74.0625 -74.04384499999999 -74.04996783 -74.07840595
 -74.03375890000001 -74.04772663 -74.06285852 -74.07126188 '-73.99949601'
 '-73.956461' '-73.98409214' '-74.03768331' '-74.07106072' '-74.05099'
 '-74.071455' '-74.07195926' '-73.98194829' '-73.97519523' '-73.964928'
 '-73.99612349' '-74.0016256' '-73.9590255' '-73.97634151' '-73.97782542'
 '-74.00165856' '-73.99193043' '-74.0789' '-73.9999786' '-73.98490707'
 '-73.988639' '-73.9607082' -74.04879034 -74.03852552 -74.04595256
 -74.06762213 -74.03805095 -74.03768331 -74.03210820000001
 -74.03648570000001 -74.05065640000001 -74.0354826 -74.03891444 -74.034234
 -74.0557013 -74.04963791 -74.04281706 -74.04288411 -74.04557168
 -74.04044329999999 -74.05099 -74.06661093 -74.0335519 -74.05038893
 -74.0575736 -74.07195926 -74.05950308 -74.08363940000001 -74.0641943
 -74.071455 -74.04399090000001 -74.07106072 -74.0789 -74.05044364
 -74.066921 -74.05178863 -74.05727148 -74.06860113 -74.00277668
 -74.01658354 -73.97604882 -74.00731853 -73.99915362 -74.01020234
 -74.00674436 -73.98848395 -74.00530063 -73.98470567 -73.988038
 '-73.97431458' '-73.99906065' '-73.97031366' '-74.00731853'
 '-73.94782145' '-73.97620574' '-73.99800419' '-73.99642959'
 '-74.06391263' '-73.99138152' '-73.98192338' '-73.97283406'
 '-74.00218427' -74.06391263 -73.99949601 -73.98802084 -73.96961715
 -73.93207671 -73.97573881 -74.01043382 -74.04696375]
Bike ID
['24722' '24388' '24442' ... 16436 35248 15331]
User Type
['Subscriber' 'Customer' nan]
Birth Year
['1975' nan '1962' '1977' '1987' '1964' '1961' '1952' '1967' '1965' '1971'
 '1984' '1983' '1982' '1976' '1970' '1948' '1963' '1981' '1985' '1989'
 '1980' '1944' '1951' '1973' '1991' '1972' '1990' '1960' '1988' '1986'
 '1979' '1969' '1978' '1992' '1974' '1968' '1993' '1956' '1959' '1953'
 '1999' '1954' '1996' '1955' '1957' '1900' '1966' '1958' '1994' '1949'
 '1946' '1995' '1997' '1950' '1941' '1940' '1947' '1998' '1943' '1945'
 '2000' '1934' '1942' '1937' '1931' '2001' '1887' '1923' '1939' 1979 1983
 1994 1999 1992 1953 1960 1976 1978 1987 1986 1982 1981 1974 1980 1990
 1991 1957 1964 '1888' '2002' 1985 1951 1971 1975 1988 1989 1969 1984 1958
 1993 1959 1997 1973 1995 1968 1972 1963 1967 1996 1954 1966 1956 1977
 1952 1998 1962 1970 1950 1961 2000 1965 2002 1946 1955 1888 1949 1900
 1944 2001 1948 1941 '1904' '2003' '1918' '1889' 1947 1889]
Gender
['1' '0' '2' 1 2 0]

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1080216 entries, 0 to 131041
Data columns (total 16 columns):
Trip Duration              1080216 non-null object
Year                       1080216 non-null int64
Start Time                 1080216 non-null object
Stop Time                  1080216 non-null object
Start Station ID           1080216 non-null object
Start Station Name         1080216 non-null object
Start Station Latitude     1080216 non-null object
Start Station Longitude    1080216 non-null object
End Station ID             1080216 non-null object
End Station Name           1080216 non-null object
End Station Latitude       1080216 non-null object
End Station Longitude      1080216 non-null object
Bike ID                    1080216 non-null object
User Type                  1079719 non-null object
Birth Year                 1035978 non-null object
Gender                     1080216 non-null object
dtypes: int64(1), object(15)
memory usage: 140.1+ MB

#### Gender
<br>We will start with the columns that have less rows in the dataframe (missing values)

In [24]:
data['Gender'].unique()

array(['1', '0', '2', 1, 2, 0], dtype=object)

In [25]:
data['Gender'] = data['Gender'].astype('str')

In [26]:
#Gender, standardize values
data = data.replace({'Gender' : {'1':'male', '0':'unknown', '2':'female', 1:'male', 2:'female', 0:'unknown'}})

In [27]:
data['Gender'].unique()

array(['male', 'unknown', 'female'], dtype=object)

#### Birth Year

In [28]:
#Replace NaN with 0
data['Birth Year'].fillna(0)

0         1975
1            0
2         1962
3         1977
4         1977
5         1987
6         1964
7         1961
8         1952
9         1987
10        1962
11        1967
12        1965
13        1971
14           0
15        1984
16        1983
17        1982
18        1976
19        1961
20        1964
21        1982
22        1967
23        1970
24        1948
25        1963
26        1981
27        1981
28           0
29        1952
          ...
131012    1979
131013    1984
131014    1988
131015    1990
131016    1983
131017    1990
131018    1964
131019    1958
131020    1990
131021    1969
131022    1962
131023    1990
131024    1990
131025    1986
131026    1985
131027    1974
131028    1970
131029    1994
131030    1968
131031    1969
131032    1969
131033    1969
131034    1969
131035    1971
131036    1984
131037    1991
131038    1991
131039    1989
131040    1992
131041    1984
Name: Birth Year, Length: 1080216, dtype: object

In [29]:
data['Birth Year'].unique()

array(['1975', nan, '1962', '1977', '1987', '1964', '1961', '1952',
       '1967', '1965', '1971', '1984', '1983', '1982', '1976', '1970',
       '1948', '1963', '1981', '1985', '1989', '1980', '1944', '1951',
       '1973', '1991', '1972', '1990', '1960', '1988', '1986', '1979',
       '1969', '1978', '1992', '1974', '1968', '1993', '1956', '1959',
       '1953', '1999', '1954', '1996', '1955', '1957', '1900', '1966',
       '1958', '1994', '1949', '1946', '1995', '1997', '1950', '1941',
       '1940', '1947', '1998', '1943', '1945', '2000', '1934', '1942',
       '1937', '1931', '2001', '1887', '1923', '1939', 1979, 1983, 1994,
       1999, 1992, 1953, 1960, 1976, 1978, 1987, 1986, 1982, 1981, 1974,
       1980, 1990, 1991, 1957, 1964, '1888', '2002', 1985, 1951, 1971,
       1975, 1988, 1989, 1969, 1984, 1958, 1993, 1959, 1997, 1973, 1995,
       1968, 1972, 1963, 1967, 1996, 1954, 1966, 1956, 1977, 1952, 1998,
       1962, 1970, 1950, 1961, 2000, 1965, 2002, 1946, 1955, 1888, 1949,
       1900, 1944, 2001, 1948, 1941, '1904', '2003', '1918', '1889', 1947,
       1889], dtype=object)

In [30]:
data['Birth Year'] = data['Birth Year'].astype('str')

In [31]:
data = data.replace({'Birth Year' : {'nan':'0'}})

In [32]:
data['Birth Year'].unique()

array(['1975', '0', '1962', '1977', '1987', '1964', '1961', '1952',
       '1967', '1965', '1971', '1984', '1983', '1982', '1976', '1970',
       '1948', '1963', '1981', '1985', '1989', '1980', '1944', '1951',
       '1973', '1991', '1972', '1990', '1960', '1988', '1986', '1979',
       '1969', '1978', '1992', '1974', '1968', '1993', '1956', '1959',
       '1953', '1999', '1954', '1996', '1955', '1957', '1900', '1966',
       '1958', '1994', '1949', '1946', '1995', '1997', '1950', '1941',
       '1940', '1947', '1998', '1943', '1945', '2000', '1934', '1942',
       '1937', '1931', '2001', '1887', '1923', '1939', '1888', '2002',
       '1904', '2003', '1918', '1889'], dtype=object)

In [33]:
#Turn Birth Year into an integer type
data['Birth Year'] = data['Birth Year'].astype('int32')

#### Age (new)

In [34]:
# Add Age column according to the current year
data['Age-2019'] = 2019 - data['Birth Year']

In [35]:
data.head()

,Trip Duration,Year,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Age-2019
0,61,2015,21/09/2015 14:53,21/09/2015 14:54,3185,City Hall,40.7177325,-74.043845,3185,City Hall,40.7177325,-74.043845,24722,Subscriber,1975,male,44
1,290,2015,21/09/2015 14:55,21/09/2015 15:00,3183,Exchange Place,40.7162469,-74.0334588,3187,Warren St,40.7211236,-74.03805095,24388,Customer,0,unknown,2019
2,786,2015,21/09/2015 14:56,21/09/2015 15:09,3183,Exchange Place,40.7162469,-74.0334588,3183,Exchange Place,40.7162469,-74.0334588,24442,Subscriber,1962,male,57
3,477,2015,21/09/2015 14:58,21/09/2015 15:06,3203,Hamilton Park,40.72759597,-74.04424731,3203,Hamilton Park,40.72759597,-74.04424731,24678,Subscriber,1977,female,42
4,451,2015,21/09/2015 14:59,21/09/2015 15:07,3203,Hamilton Park,40.72759597,-74.04424731,3186,Grove St PATH,40.71958612,-74.04311746,24574,Subscriber,1977,female,42

In [36]:
ages = data['Age-2019'].unique()
ages

array([  44, 2019,   57,   42,   32,   55,   58,   67,   52,   54,   48,
         35,   36,   37,   43,   49,   71,   56,   38,   34,   30,   39,
         75,   68,   46,   28,   47,   29,   59,   31,   33,   40,   50,
         41,   27,   45,   51,   26,   63,   60,   66,   20,   65,   23,
         64,   62,  119,   53,   61,   25,   70,   73,   24,   22,   69,
         78,   79,   72,   21,   76,   74,   19,   85,   77,   82,   88,
         18,  132,   96,   80,  131,   17,  115,   16,  101,  130],
      dtype=int64)

In [37]:
#Unique Age values in ascendant order
np.sort(ages)

array([  16,   17,   18,   19,   20,   21,   22,   23,   24,   25,   26,
         27,   28,   29,   30,   31,   32,   33,   34,   35,   36,   37,
         38,   39,   40,   41,   42,   43,   44,   45,   46,   47,   48,
         49,   50,   51,   52,   53,   54,   55,   56,   57,   58,   59,
         60,   61,   62,   63,   64,   65,   66,   67,   68,   69,   70,
         71,   72,   73,   74,   75,   76,   77,   78,   79,   80,   82,
         85,   88,   96,  101,  115,  119,  130,  131,  132, 2019],
      dtype=int64)

In [38]:
#Substitute ages from 96 and higher with 0, considering them as data entry mistakes or no longer users
data[data['Age-2019'] >= 96] = 0

In [39]:
data['Age-2019'].unique()

array([44,  0, 57, 42, 32, 55, 58, 67, 52, 54, 48, 35, 36, 37, 43, 49, 71,
       56, 38, 34, 30, 39, 75, 68, 46, 28, 47, 29, 59, 31, 33, 40, 50, 41,
       27, 45, 51, 26, 63, 60, 66, 20, 65, 23, 64, 62, 53, 61, 25, 70, 73,
       24, 22, 69, 78, 79, 72, 21, 76, 74, 19, 85, 77, 82, 88, 18, 80, 17,
       16], dtype=int64)

#### User type

In [40]:
data['User Type'].unique()

array(['Subscriber', 0, nan, 'Customer'], dtype=object)

In [41]:
#Replace 0 and nan
data = data.replace({'User Type' : {0:'unknown'}})

In [42]:
data['User Type'] = data['User Type'].astype('str')

In [43]:
data['User Type'].unique()

array(['Subscriber', 'unknown', 'nan', 'Customer'], dtype=object)

In [44]:
data = data.replace({'User Type':{'nan':'unknown'}})
data['User Type'].unique()

array(['Subscriber', 'unknown', 'Customer'], dtype=object)

In [45]:
for column in data:
    print(column)
    print(data[column].unique())

Trip Duration
['61' 0 '786' ... 3791 3557 3562]
Year
[2015    0 2016 2017 2018 2019]
Start Time
['21/09/2015 14:53' 0 '21/09/2015 14:56' ... '31/05/2019 23:51'
 '31/05/2019 23:55' '31/05/2019 23:56']
Stop Time
['21/09/2015 14:54' 0 '21/09/2015 15:09' ... '01/06/2019 00:04'
 '01/06/2019 00:01' '01/06/2019 00:05']
Start Station ID
['3185' 0 '3183' '3203' '3195' '3212' '3225' '3202' '3211' '3209' '3199'
 '3217' '3187' '3186' '3196' '3214' '3184' '3216' '3198' '3200' '3201'
 '3207' '3206' '3213' '3220' '3188' '3215' '3205' '3197' '3193' '3192'
 '3194' '3189' '3210' '3190' '3191' '3267' '3270' '3272' '3268' '3278'
 '3279' '3276' '3273' '3275' '3274' '3281' '3271' '3269' '3280' '3426'
 '3277' '3481' '3639' '3638' '3640' 3278 3210 3209 3184 3199 3280 3225
 3281 3279 3186 3194 3267 3203 3639 3191 3270 3195 '3483' '3677' '3678'
 '3679' '3681' '3694' 3187 3192 3193 3196 3198 3201 3202 3205 3206 3207
 3211 3212 3213 3214 3220 3268 3269 3272 3273 3275 3276 3277 3426 3481
 3483 3638 3640 3677 3678 3679 3183 3185 3681 3694 3791]
Start Station Name
['City Hall' 0 'Exchange Place' 'Hamilton Park' 'Sip Ave'
 'Christ Hospital' 'Baldwin at Montgomery' 'Newport PATH' 'Newark Ave'
 'Brunswick St' 'Newport Pkwy' 'Bayside Park' 'Warren St' 'Grove St PATH'
 'Riverview Park' 'Essex Light Rail' 'Paulus Hook' 'Columbia Park'
 'Heights Elevator' 'MLK Light Rail' 'Dey St' 'Oakland Ave' 'Hilltop'
 'Van Vorst Park' '5 Corners Library' 'NJCU' 'Central Ave'
 'JC Medical Center' 'North St' 'Lincoln Park' 'Liberty Light Rail'
 'McGinley Square' 'West Side Light Rail' 'Pershing Field'
 'Garfield Ave Station' 'Union St' 'Morris Canal' 'Jersey & 6th St'
 'Jersey & 3rd' 'Lafayette Park' 'Monmouth and 6th' 'Dixon Mills'
 'Marin Light Rail' 'Manila & 1st' 'Columbus Drive' 'Bethune Center'
 'Leonard Gordon Park' 'Danforth Light Rail' 'Brunswick & 6th'
 'Astor Place' 'JCBS Depot' 'Communipaw & Berry Lane' 'York St'
 'Harborside' 'Washington St' 'Journal Square' 'Montgomery St'
 'Glenwood Ave' 'Fairmount Ave' 'Bergen Ave' 'Grand St' 'Jackson Square'
 'Hoboken Ave at Monmouth St']
Start Station Latitude
['40.7177325' 0 '40.7162469' '40.72759597' '40.73074263' '40.73478582'
 '40.7236589' '40.7272235' '40.72152515' '40.7241765' '40.7287448'
 '40.69865054' '40.7211236' '40.71958612' '40.7443187' '40.7127742'
 '40.7141454' '40.6970299' '40.74871595' '40.7111305' '40.737711'
 '40.7376037' '40.7311689' '40.71848892' '40.73496102' '40.7101087'
 '40.7467299' '40.71653978' '40.752559' '40.7246051' '40.7112423'
 '40.72533993' '40.714402' '40.74267714' '40.71046702' '40.7182113'
 '40.71241882' '40.72528911' '40.72333159' '40.71346383' '40.72568548'
 '40.72163014' '40.71458404' '40.72165072' '40.7183552' '40.70495752'
 '40.74590997' '40.69263997' '40.72601173' '40.7192822' '40.70965083'
 '40.71435837' '40.71649' '40.7192517' '40.7242941' '40.73367' 40.72568548
 40.74267714 40.7241765 40.7141454 40.728744799999994 40.7192822
 40.7236589 40.74590997 40.72163014 40.71958612 40.72533993 40.71241882
 40.72759597 40.71925170000001 40.71821129999999 40.72528911 40.73074263
 '40.71942' '40.72755147' '40.72572614' '40.72210379' '40.71517768'
 '40.71113' 40.721123600000006 40.711242299999995 40.724605100000005
 40.7443187 40.74871595 40.737711 40.7272235 40.71653978 40.7311689
 40.7376037 40.72152515 40.73478582 40.71848892 40.712774200000005
 40.73496102 40.71346383 40.72601173 40.72333159 40.72165072
 40.718355200000005 40.71458404 40.71435837 40.70965083 40.71649 40.71942
 40.7242941 40.733670000000004 40.72755147 40.72572614 '40.7308971'
 40.72210379 40.7308971 40.7162469 40.717732500000004 40.71517768 40.71113
 40.73520838]
Start Station Longitude
['-74.043845' 0 '-74.0334588' '-74.04424731' '-74.06378388' '-74.05044364'
 '-74.0641943' '-74.0337589' '-74.04630454' '-74.0506564' '-74.0321082'
 '-74.08207968' '-74.03805095' '-74.04311746' '-74.0439909' '-74.0364857'
 '-74.0335519' '-74.0969366' '-74.0404433' '-74.0788855' '-74.066921'
 '-74.0524783' '-74.0575736' '-74.04772663' '-74.05950308' '-74.0858489'
 '-74.0492509' '-74.04963791' '-74.044725' '-74.07840595' '-74.0557013'
 '-74.06762213' '-74.0887723' '-74.05178863' '-74.0700388' '-74.0836394'
 '-74.03852552' '-74.04557168' '-74.04595256' '-74.06285852'
 '-74.04879034' '-74.04996783' '-74.04281706' '-74.04288411'
 '-74.03891444' '-74.08593088' '-74.05727148' '-74.08801228'
 '-74.05038893' '-74.07126188' '-74.06860113' '-74.06661093' '-74.04105'
 '-74.034234' '-74.0354826' '-74.0625' -74.04879034 -74.05178863
 -74.05065640000001 -74.0335519 -74.03210820000001 -74.07126188
 -74.0641943 -74.05727148 -74.04996783 -74.04311746 -74.06762213
 -74.03852552 -74.04424731 -74.034234 -74.08363940000001 -74.04557168
 -74.06378388 '-74.05099' '-74.07106072' '-74.07195926' '-74.071455'
 '-74.03768331' '-74.0789' -74.03805095 -74.0557013 -74.07840595
 -74.04399090000001 -74.04044329999999 -74.066921 -74.03375890000001
 -74.04963791 -74.0575736 -74.05247829999999 -74.04630454 -74.05044364
 -74.04772663 -74.03648570000001 -74.05950308 -74.06285852 -74.05038893
 -74.04595256 -74.04288411 -74.03891444 -74.04281706 -74.06661093
 -74.06860113 -74.04105 -74.05099 -74.0354826 -74.0625 -74.07106072
 -74.07195926 '-74.06391263' -74.071455 -74.06391263 -74.0334588
 -74.04384499999999 -74.03768331 -74.0789 -74.04696375]
End Station ID
['3185' 0 '3183' '3203' '3186' '3195' '3209' '3184' '3199' '3212' '3192'
 '3211' '3216' '3210' '3187' '3213' '3198' '3214' '3196' '3200' '3207'
 '3194' '3205' '3206' '3193' '3225' '3202' '3189' '3215' '3201' '3197'
 '3220' '3188' '3217' '3190' '3191' '501' '514' '426' '3173' '3169' '457'
 '466' '448' '505' '363' '247' '327' '309' '3178' '173' '252' '484' '329'
 '358' '315' '477' '428' '390' '225' '351' '3265' '304' '284' '3267'
 '3270' '3272' '3268' '3279' '3278' '3273' '3276' '3271' '3274' '3281'
 '3275' '3314' '498' '3331' '3426' '427' '347' '359' '3085' '534' '360'
 '328' '3269' '446' '520' '3280' '2004' '393' '3277' '405' '224' '249'
 '276' '319' '2008' '152' '297' '267' '3256' '3175' '335' '379' '3443'
 '3307' '380' '366' '482' '253' '470' '195' '439' '3233' '459' '3328'
 '3002' '447' '3428' '432' '212' '3436' '386' '525' '3474' '515' '517'
 '486' '3472' '313' '3461' '259' '423' '128' '79' '3481' '444' '217'
 '3161' '3480' '377' '435' '3167' '3638' '3639' '3640' '533' '127' '146'
 '478' '401' 3211 3207 3186 3183 3481 3195 3203 3640 3185 3279 3193 3202
 3213 3268 3280 '303' '462' '3541' '537' '3681' '3677' '3483' '3679'
 '3678' '472' '3415' '3552' '157' '3311' '3547' '2006' '3163' '3467' '331'
 '3694' '398' '526' '508' '376' '513' '345' '3539' 3278 3267 3272 3194
 3187 3681 3199 3214 3209 3638 3275 3639 3192 3205 3276 3273 3270 3198
 3483 3277 3184 3269 3206 3678 3220 3191 3225 3679 3196 3677 3694 3212
 3201 3210 3281 3426 514 327 167 264 453 417 127 505 306 3356 422 '353'
 '336' '2023' '264' '3400' '3165' '254' '3709' '523' '468' '3170' '3258'
 303 311 3168 3750 487 195 3791]
End Station Name
['City Hall' 0 'Exchange Place' 'Hamilton Park' 'Grove St PATH' 'Sip Ave'
 'Brunswick St' 'Paulus Hook' 'Newport Pkwy' 'Christ Hospital'
 'Liberty Light Rail' 'Newark Ave' 'Columbia Park' 'Pershing Field'
 'Warren St' 'Van Vorst Park' 'Heights Elevator' 'Essex Light Rail'
 'Riverview Park' 'MLK Light Rail' 'Oakland Ave' 'McGinley Square'
 'JC Medical Center' 'Hilltop' 'Lincoln Park' 'Baldwin at Montgomery'
 'Newport PATH' 'West Side Light Rail' 'Central Ave' 'Dey St' 'North St'
 '5 Corners Library' 'NJCU' 'Bayside Park' 'Garfield Ave Station'
 'Union St' 'FDR Drive & E 35 St' '12 Ave & W 40 St'
 'West St & Chambers St' 'Riverside Blvd & W 67 St'
 'Riverside Dr & W 82 St' 'Broadway & W 58 St' 'W 25 St & 6 Ave'
 'W 37 St & 10 Ave' '6 Ave & W 33 St' 'West Thames St'
 'Perry St & Bleecker St' 'Vesey Pl & River Terrace' 'Murray St & West St'
 'Riverside Dr & W 78 St' 'Broadway & W 49 St'
 'MacDougal St & Washington Sq' 'W 44 St & 5 Ave'
 'Greenwich St & North Moore St' 'Christopher St & Greenwich St'
 'South St & Gouverneur Ln' 'W 41 St & 8 Ave' 'E 3 St & 1 Ave'
 'Duffield St & Willoughby St' 'W 14 St & The High Line'
 'Front St & Maiden Ln' 'E 2 St & 2 Ave E' 'Broadway & Battery Pl'
 'Greenwich Ave & 8 Ave' 'Morris Canal' 'Jersey & 6th St' 'Jersey & 3rd'
 'Lafayette Park' 'Dixon Mills' 'Monmouth and 6th' 'Manila & 1st'
 'Marin Light Rail' 'Danforth Light Rail' 'Bethune Center'
 'Leonard Gordon Park' 'Columbus Drive' 'W 95 St & Broadway'
 'Broadway & W 32 St' 'Riverside Dr & W 104 St' 'JCBS Depot'
 'Bus Slip & State St' 'Greenwich St & W Houston St' 'E 47 St & Park Ave'
 'Roebling St & N 4 St' 'Water - Whitehall Plaza' 'William St & Pine St'
 'Watts St & Greenwich St' 'Brunswick & 6th' 'W 24 St & 7 Ave'
 'W 52 St & 5 Ave' 'Astor Place' '6 Ave & Broome St' 'E 5 St & Avenue C'
 'Communipaw & Berry Lane' 'Washington St & Gansevoort St'
 'Spruce St & Nassau St' 'Harrison St & Hudson St'
 'Duane St & Greenwich St' 'Fulton St & Broadway' 'Little West St & 1 Pl'
 'Warren St & Church St' 'E 15 St & 3 Ave' 'Broadway & W 36 St'
 'Pier 40 - Hudson River Park' 'W 70 St & Amsterdam Ave'
 'Washington Pl & Broadway' 'W 31 St & 7 Ave' 'W 52 St & 6 Ave'
 'West End Ave & W 94 St' 'W 4 St & 7 Ave S' 'Clinton Ave & Myrtle Ave'
 'W 15 St & 7 Ave' 'W 13 St & 5 Ave' 'W 20 St & 8 Ave'
 'Liberty St & Broadway' 'E 4 St & 2 Ave' 'E 48 St & 5 Ave'
 'W 20 St & 11 Ave' 'W 100 St & Manhattan Ave'
 'South End Ave & Liberty St' '8 Ave & W 52 St' '8 Ave & W 16 St'
 'E 7 St & Avenue A' 'W 16 St & The High Line' 'Greenwich St & Hubert St'
 'Centre St & Worth St' 'W 34 St & 11 Ave' '6 Ave & Spring St'
 'W 43 St & 10 Ave' 'Pershing Square South' 'Broadway & W 29 St'
 'W 15 St & 10 Ave' 'Washington Ave & Park Ave' 'Murray St & Greenwich St'
 'South St & Whitehall St' 'W 54 St & 9 Ave' "Hs Don't Use"
 "JSQ Don't Use" 'MacDougal St & Prince St' 'Franklin St & W Broadway'
 'York St' 'Broadway & W 24 St' 'Old Fulton St' 'W 76 St & Columbus Ave'
 "WS Don't Use" '6 Ave & Canal St' 'W 21 St & 6 Ave'
 'Amsterdam Ave & W 73 St' 'Washington St' 'Harborside' 'Journal Square'
 'Broadway & W 38 St' 'Barrow St & Hudson St' 'Hudson St & Reade St'
 '11 Ave & W 41 St' 'Allen St & Rivington St' 'Mercer St & Spring St'
 'W 22 St & 10 Ave' 'Amsterdam Ave & W 125 St' 'Lexington Ave & E 24 St'
 'Grand St' 'Glenwood Ave' 'Montgomery St' 'Bergen Ave' 'Fairmount Ave'
 'E 32 St & Park Ave' 'Prospect Pl & 6 Ave' 'W 113 St & Broadway'
 'Henry St & Atlantic Ave' 'Columbia St & Kane St' 'Broadway & Moylan Pl'
 'Central Park S & 6 Ave' 'Central Park West & W 68 St'
 'W Broadway & Spring Street' 'Pike St & Monroe St' 'Jackson Square'
 'Atlantic Ave & Furman St' 'E 33 St & 5 Ave' 'W 46 St & 11 Ave'
 'John St & William St' 'W 56 St & 10 Ave' 'W 13 St & 6 Ave'
 'W 116 St & Amsterdam Ave' 'E 39 St & 3 Ave' 'Maiden Ln & Pearl St'
 'W 22 St & 8 Ave' 'Barclay St & Church St' 'Cliff St & Fulton St_1'
 'Amsterdam Ave & W 66 St' 'W 59 St & 10 Ave' 'S Portland Ave & Hanson Pl'
 'Sullivan St & Washington Sq' 'E 55 St & Lexington Ave'
 'E 110 St & Madison Ave' 'Central Park West & W 72 St' 'W 11 St & 6 Ave'
 'W 15 St & 6 Ave' 'W 38 St & 8 Ave' 'Broadway & W 56 St'
 'W 84 St & Columbus Ave' 'W 27 St & 10 Ave' 'Norfolk St & Broome St'
 'Central Park West & W 85 St' 'Forrest Tech Shop (parts testing)'
 'E 20 St & FDR Drive' 'Hoboken Ave at Monmouth St']
End Station Latitude
['40.7177325' 0 '40.7162469' '40.72759597' '40.71958612' '40.73074263'
 '40.7241765' '40.7141454' '40.7287448' '40.73478582' '40.7112423'
 '40.72152515' '40.6970299' '40.74267714' '40.7211236' '40.71848892'
 '40.74871595' '40.7127742' '40.7443187' '40.7111305' '40.7376037'
 '40.72533993' '40.71653978' '40.7311689' '40.7246051' '40.7236589'
 '40.7272235' '40.714402' '40.7467299' '40.737711' '40.752559'
 '40.73496102' '40.7101087' '40.69865054' '40.71046702' '40.7182113'
 '40.744219' '40.76087502' '40.71754834' '40.77750703' '40.78720869'
 '40.76695317' '40.74395411' '40.75660359' '40.74901271' '40.70834698'
 '40.73535398' '40.7153379' '40.7149787' '40.78414472' '40.76068327'
 '40.73226398' '40.75500254' '40.72015227' '40.73291553' '40.70355377'
 '40.75640548' '40.72467721' '40.69221589' '40.74195138' '40.70530954'
 '40.72456343' '40.70463334' '40.73901691' '40.71241882' '40.72528911'
 '40.72333159' '40.71346383' '40.72163014' '40.72568548' '40.72165072'
 '40.71458404' '40.69263997' '40.70495752' '40.74590997' '40.7183552'
 '40.7937704' '40.74854862' '40.8013434' '40.70965083' '40.701907'
 '40.728846' '40.75510267' '40.71469' '40.70255065' '40.70717936'
 '40.72405549' '40.72601173' '40.74487634' '40.75992262' '40.7192822'
 '40.724399' '40.72299208' '40.71435837' '40.739323' '40.71146364'
 '40.71870987' '40.71748752' '40.711066' '40.70569254' '40.71473993'
 '40.734232' '40.75097711' '40.72771408' '40.77748046' '40.72903917'
 '40.749156' '40.76132983' '40.7941654' '40.73401143' '40.693261'
 '40.73935542' '40.73543934' '40.74345335' '40.70905623' '40.7262807'
 '40.75724568' '40.746745' '40.795' '40.711512' '40.76370739' '40.740983'
 '40.72621788' '40.74334935' '40.721319' '40.71494807' '40.75594159'
 '40.7252557' '40.76009437' '40.751581' '40.7462009' '40.74275383'
 '40.69610226' '40.71485151' '40.70122128' '40.76584941' '40.71925171' '0'
 '40.72710258' '40.71911552' '40.71649' '40.7423543' '40.70277159'
 '40.78018397' '40.72243797' '40.74173969' '40.77966809' '40.7242941'
 '40.7192517' '40.73367' '40.75299641' '40.73172428' '40.71625008'
 '40.76030096' '40.72019576' 40.72152515 40.7376037 40.71958612 40.7162469
 40.71649 40.73074263 40.72759597 40.733670000000004 40.717732500000004
 40.72163014 40.724605100000005 40.7272235 40.71848892 40.71346383
 40.7192822 '40.72362738' '40.74691959' '40.813358' '40.74025878'
 '40.71517768' '40.72755147' '40.71942' '40.72210379' '40.72572614'
 '40.7457121' '40.6793307' '40.805973' '40.69089272' '40.68763155'
 '40.8143256' '40.76590936' '40.7734066' '40.72494672' '40.71173107'
 '40.71113' '40.69165183' '40.74765947' '40.76341379' '40.70862144'
 '40.768254' '40.73649403' '40.8067581' 40.72568548 40.71241882
 40.72333159 40.72533993 40.721123600000006 40.71517768 40.728744799999994
 40.712774200000005 40.7241765 40.7242941 40.718355200000005
 40.71925170000001 40.711242299999995 40.71653978 40.71458404 40.72165072
 40.72528911 40.74871595 40.71942 40.71435837 40.7141454 40.72601173
 40.7311689 40.72572614 40.73496102 40.71821129999999 40.7236589
 40.72210379 40.7443187 40.72755147 40.71113 40.73478582 40.737711
 40.74267714 40.74590997 40.70965083 40.76087502 40.715337899999994
 40.7489006 40.70706456 40.74475148 40.71291224 40.73172428 40.74901271
 40.70823502 40.7746671 40.770513 '40.68539567' '40.73047747'
 '40.75968085' '40.70706456' '40.7961535' '40.77579377' '40.73532427'
 '40.73804614' '40.7308971' '40.75466591' '40.7652654' '40.78499979'
 '40.75018156' 40.7308971 40.72362738 40.7172274 40.78472675 40.70300569
 40.73314259 40.70905623 40.73520838]
End Station Longitude
['-74.043845' 0 '-74.0334588' '-74.04424731' '-74.04311746' '-74.06378388'
 '-74.0506564' '-74.0335519' '-74.0321082' '-74.05044364' '-74.0557013'
 '-74.04630454' '-74.0969366' '-74.05178863' '-74.03805095' '-74.04772663'
 '-74.0404433' '-74.0364857' '-74.0439909' '-74.0788855' '-74.0524783'
 '-74.06762213' '-74.04963791' '-74.0575736' '-74.07840595' '-74.0641943'
 '-74.0337589' '-74.0887723' '-74.0492509' '-74.066921' '-74.044725'
 '-74.05950308' '-74.0858489' '-74.08207968' '-74.0700388' '-74.0836394'
 '-73.97121214' '-74.00277668' '-74.01322069' '-73.98888588'
 '-73.98128127' '-73.98169333' '-73.99144871' '-73.9979009' '-73.98848395'
 '-74.01713445' '-74.00483091' '-74.01658354' '-74.013012' '-73.98362492'
 '-73.98452729' '-73.99852205' '-73.98014437' '-74.01036501'
 '-74.00711384' '-74.00670227' '-73.9900262' '-73.98783413' '-73.9842844'
 '-74.00803013' '-74.00612572' '-73.98944378' '-74.01361706'
 '-74.00263761' '-74.03852552' '-74.04557168' '-74.04595256'
 '-74.06285852' '-74.04996783' '-74.04879034' '-74.04288411'
 '-74.04281706' '-74.08801228' '-74.08593088' '-74.05727148'
 '-74.03891444' '-73.971888' '-73.98808416' '-73.97114574' '-74.06860113'
 '-74.013942' '-74.008591' '-73.97498696' '-73.95739' '-74.0127234'
 '-74.00887308' '-74.00965965' '-74.05038893' '-73.99529885'
 '-73.97648516' '-74.07126188' '-74.004704' '-73.97995466' '-74.06661093'
 '-74.008119' '-74.00552427' '-74.0090009' '-74.0104554' '-74.009447'
 '-74.01677685' '-74.00910627' '-73.986923' '-73.98765428' '-74.01129574'
 '-73.98288594' '-73.99404649' '-73.9916' '-73.97982001' '-73.974124'
 '-74.00293877' '-73.968896' '-73.99931783' '-73.99453948' '-74.00004031'
 '-74.01043382' '-73.98978041' '-73.97805914' '-74.007756' '-73.9645'
 '-74.015756' '-73.9851615' '-74.001702' '-73.98379855' '-74.00681753'
 '-74.010065' '-74.00234482' '-74.0021163' '-74.00412083' '-73.99461843'
 '-73.97791' '-73.98855723' '-74.00747359' '-73.96751037' '-74.01122332'
 '-74.01234218' '-73.98690506' '-74.03423399' '0' '-74.00297088'
 '-74.00666661' '-74.04105' '-73.98915076' '-73.99383605' '-73.97728533'
 '-74.00566443' '-73.99415556' '-73.98093045' '-74.0354826' '-74.034234'
 '-74.0625' '-73.98721619' '-74.00674436' '-74.0091059' '-73.99884222'
 '-73.98997825' -74.04630454 -74.05247829999999 -74.04311746 -74.0334588
 -74.04105 -74.06378388 -74.04424731 -74.0625 -74.04384499999999
 -74.04996783 -74.07840595 -74.03375890000001 -74.04772663 -74.06285852
 -74.07126188 '-73.99949601' '-74.00451887' '-73.956461' '-73.98409214'
 '-74.03768331' '-74.07106072' '-74.05099' '-74.071455' '-74.07195926'
 '-73.98194829' '-73.97519523' '-73.964928' '-73.99612349' '-74.0016256'
 '-73.9590255' '-73.97634151' '-73.97782542' '-74.00165856' '-73.99193043'
 '-74.0789' '-73.9999786' '-73.98490707' '-73.99667444' '-74.00722156'
 '-73.988639' '-73.99704374' '-73.9607082' -74.04879034 -74.03852552
 -74.04595256 -74.06762213 -74.03805095 -74.03768331 -74.03210820000001
 -74.03648570000001 -74.05065640000001 -74.0354826 -74.03891444 -74.034234
 -74.0557013 -74.04963791 -74.04281706 -74.04288411 -74.04557168
 -74.04044329999999 -74.05099 -74.06661093 -74.0335519 -74.05038893
 -74.0575736 -74.07195926 -74.05950308 -74.08363940000001 -74.0641943
 -74.071455 -74.04399090000001 -74.07106072 -74.0789 -74.05044364
 -74.066921 -74.05178863 -74.05727148 -74.06860113 -74.00277668
 -74.01658354 -73.97604882 -74.00731853 -73.99915362 -74.01020234
 -74.00674436 -73.98848395 -74.00530063 -73.98470567 -73.988038
 '-73.97431458' '-73.99906065' '-73.97031366' '-74.00731853'
 '-73.94782145' '-73.97620574' '-73.99800419' '-73.99642959'
 '-74.06391263' '-73.99138152' '-73.98192338' '-73.97283406'
 '-74.00218427' -74.06391263 -73.99949601 -73.98802084 -73.96961715
 -73.93207671 -73.97573881 -74.01043382 -74.04696375]
Bike ID

['24722' 0 '24442' ... 16436 35248 15331]
User Type
['Subscriber' 'unknown' 'Customer']
Birth Year
[1975    0 1962 1977 1987 1964 1961 1952 1967 1965 1971 1984 1983 1982
 1976 1970 1948 1963 1981 1985 1989 1980 1944 1951 1973 1991 1972 1990
 1960 1988 1986 1979 1969 1978 1992 1974 1968 1993 1956 1959 1953 1999
 1954 1996 1955 1957 1966 1958 1994 1949 1946 1995 1997 1950 1941 1940
 1947 1998 1943 1945 2000 1934 1942 1937 1931 2001 1939 2002 2003]
Gender
['male' 0 'female' 'unknown']
Age-2019
[44  0 57 42 32 55 58 67 52 54 48 35 36 37 43 49 71 56 38 34 30 39 75 68
 46 28 47 29 59 31 33 40 50 41 27 45 51 26 63 60 66 20 65 23 64 62 53 61
 25 70 73 24 22 69 78 79 72 21 76 74 19 85 77 82 88 18 80 17 16]

#### Bike ID

In [46]:
data['Bike ID'] = data['Bike ID'].astype('str')

In [47]:
data['Bike ID'] .unique()

array(['24722', '0', '24442', ..., '16436', '35248', '15331'],
      dtype=object)

In [48]:
data = data.replace({'Bike ID' : {'0':'unknown'}})

In [49]:
data['Bike ID'].unique()

array(['24722', 'unknown', '24442', ..., '16436', '35248', '15331'],
      dtype=object)

In [50]:
#Look at these rows as they all seem to have 0s
dataNull = data[data['Bike ID'] == '0']

In [51]:
data['Bike ID'].unique()

array(['24722', 'unknown', '24442', ..., '16436', '35248', '15331'],
      dtype=object)

In [52]:
data[data['Bike ID'] == 'unknown']

,Trip Duration,Year,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Age-2019
1,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
28,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
37,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
39,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
46,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
54,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
55,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
56,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
61,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
62,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
71,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
72,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
75,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
77,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
114,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
127,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
152,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
169,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
170,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
171,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
172,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
175,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
178,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
190,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
195,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
199,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
204,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
210,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
211,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288710,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
299579,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
299706,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
299781,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
299945,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
303931,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
318948,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
1500,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
62511,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
64425,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
66530,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
73398,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
77419,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
77421,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
77428,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
92168,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
96887,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
97042,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
97962,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
98050,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
100769,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
110611,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
111193,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
112105,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
112146,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
112358,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
113867,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
117456,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
130154,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0
130566,0,0,0,0,0,0,0,0,0,0,0,0,unknown,unknown,0,0,0

In [53]:
dataNull = data[data['Bike ID'] == 'unknown']

In [54]:
for column in dataNull:
    print(column)
    print(dataNull[column].unique())

Trip Duration
[0]
Year
[0]
Start Time
[0]
Stop Time
[0]
Start Station ID
[0]
Start Station Name
[0]
Start Station Latitude
[0]
Start Station Longitude
[0]
End Station ID
[0]
End Station Name
[0]
End Station Latitude
[0]
End Station Longitude
[0]
Bike ID
['unknown']
User Type
['unknown']
Birth Year
[0]
Gender
[0]
Age-2019
[0]

In [55]:
#Delete rows that are all 0s and unkown values
data = data.drop(data[data['Bike ID'] == 'unknown'].index)

In [56]:
data[data['Bike ID'] == 'unknown']

Empty DataFrame
Columns: [Trip Duration, Year, Start Time, Stop Time, Start Station ID, Start Station Name, Start Station Latitude, Start Station Longitude, End Station ID, End Station Name, End Station Latitude, End Station Longitude, Bike ID, User Type, Birth Year, Gender, Age-2019]
Index: []

In [57]:
#Checking unique values one more time
for column in data:
    print(column)
    print(data[column].unique())

Trip Duration
['61' '786' '477' ... 3557 1912 3562]
Year
[2015 2016 2017 2018 2019]
Start Time
['21/09/2015 14:53' '21/09/2015 14:56' '21/09/2015 14:58' ...
 '31/05/2019 23:47' '31/05/2019 23:51' '31/05/2019 23:56']
Stop Time
['21/09/2015 14:54' '21/09/2015 15:09' '21/09/2015 15:06' ...
 '31/05/2019 23:51' '01/06/2019 00:04' '01/06/2019 00:05']
Start Station ID
['3185' '3183' '3203' '3195' '3212' '3225' '3202' '3211' '3209' '3199'
 '3217' '3187' '3186' '3214' '3184' '3216' '3198' '3200' '3196' '3201'
 '3207' '3206' '3213' '3220' '3188' '3215' '3205' '3197' '3192' '3194'
 '3189' '3210' '3193' '3190' '3191' '3267' '3270' '3272' '3268' '3278'
 '3279' '3276' '3273' '3275' '3274' '3271' '3281' '3269' '3280' '3426'
 '3277' '3481' '3639' '3638' '3640' 3278 3210 3209 3184 3199 3280 3225
 3281 3279 3186 3194 3267 3203 3639 3191 3270 3195 '3483' '3677' '3678'
 '3679' '3681' '3694' 3187 3192 3193 3196 3198 3201 3202 3205 3206 3207
 3211 3212 3213 3214 3220 3268 3269 3272 3273 3275 3276 3277 3481 3483
 3638 3640 3677 3678 3679 3183 3185 3681 3694 3426 3791]
Start Station Name
['City Hall' 'Exchange Place' 'Hamilton Park' 'Sip Ave' 'Christ Hospital'
 'Baldwin at Montgomery' 'Newport PATH' 'Newark Ave' 'Brunswick St'
 'Newport Pkwy' 'Bayside Park' 'Warren St' 'Grove St PATH'
 'Essex Light Rail' 'Paulus Hook' 'Columbia Park' 'Heights Elevator'
 'MLK Light Rail' 'Riverview Park' 'Dey St' 'Oakland Ave' 'Hilltop'
 'Van Vorst Park' '5 Corners Library' 'NJCU' 'Central Ave'
 'JC Medical Center' 'North St' 'Liberty Light Rail' 'McGinley Square'
 'West Side Light Rail' 'Pershing Field' 'Lincoln Park'
 'Garfield Ave Station' 'Union St' 'Morris Canal' 'Jersey & 6th St'
 'Jersey & 3rd' 'Lafayette Park' 'Monmouth and 6th' 'Dixon Mills'
 'Marin Light Rail' 'Manila & 1st' 'Columbus Drive' 'Bethune Center'
 'Danforth Light Rail' 'Leonard Gordon Park' 'Brunswick & 6th'
 'Astor Place' 'JCBS Depot' 'Communipaw & Berry Lane' 'York St'
 'Harborside' 'Washington St' 'Journal Square' 'Montgomery St'
 'Glenwood Ave' 'Fairmount Ave' 'Bergen Ave' 'Grand St' 'Jackson Square'
 'Hoboken Ave at Monmouth St']
Start Station Latitude
['40.7177325' '40.7162469' '40.72759597' '40.73074263' '40.73478582'
 '40.7236589' '40.7272235' '40.72152515' '40.7241765' '40.7287448'
 '40.69865054' '40.7211236' '40.71958612' '40.7127742' '40.7141454'
 '40.6970299' '40.74871595' '40.7111305' '40.7443187' '40.737711'
 '40.7376037' '40.7311689' '40.71848892' '40.73496102' '40.7101087'
 '40.7467299' '40.71653978' '40.752559' '40.7112423' '40.72533993'
 '40.714402' '40.74267714' '40.7246051' '40.71046702' '40.7182113'
 '40.71241882' '40.72528911' '40.72333159' '40.71346383' '40.72568548'
 '40.72163014' '40.71458404' '40.72165072' '40.7183552' '40.70495752'
 '40.69263997' '40.74590997' '40.72601173' '40.7192822' '40.70965083'
 '40.71435837' '40.71649' '40.7192517' '40.7242941' '40.73367' 40.72568548
 40.74267714 40.7241765 40.7141454 40.728744799999994 40.7192822
 40.7236589 40.74590997 40.72163014 40.71958612 40.72533993 40.71241882
 40.72759597 40.71925170000001 40.71821129999999 40.72528911 40.73074263
 '40.71942' '40.72755147' '40.72572614' '40.72210379' '40.71517768'
 '40.71113' 40.721123600000006 40.711242299999995 40.724605100000005
 40.7443187 40.74871595 40.737711 40.7272235 40.71653978 40.7311689
 40.7376037 40.72152515 40.73478582 40.71848892 40.712774200000005
 40.73496102 40.71346383 40.72601173 40.72333159 40.72165072
 40.718355200000005 40.71458404 40.71435837 40.71649 40.71942 40.7242941
 40.733670000000004 40.72755147 40.72572614 '40.7308971' 40.72210379
 40.7308971 40.7162469 40.717732500000004 40.71517768 40.71113 40.70965083
 40.73520838]
Start Station Longitude
['-74.043845' '-74.0334588' '-74.04424731' '-74.06378388' '-74.05044364'
 '-74.0641943' '-74.0337589' '-74.04630454' '-74.0506564' '-74.0321082'
 '-74.08207968' '-74.03805095' '-74.04311746' '-74.0364857' '-74.0335519'
 '-74.0969366' '-74.0404433' '-74.0788855' '-74.0439909' '-74.066921'
 '-74.0524783' '-74.0575736' '-74.04772663' '-74.05950308' '-74.0858489'
 '-74.0492509' '-74.04963791' '-74.044725' '-74.0557013' '-74.06762213'
 '-74.0887723' '-74.05178863' '-74.07840595' '-74.0700388' '-74.0836394'
 '-74.03852552' '-74.04557168' '-74.04595256' '-74.06285852'
 '-74.04879034' '-74.04996783' '-74.04281706' '-74.04288411'
 '-74.03891444' '-74.08593088' '-74.08801228' '-74.05727148'
 '-74.05038893' '-74.07126188' '-74.06860113' '-74.06661093' '-74.04105'
 '-74.034234' '-74.0354826' '-74.0625' -74.04879034 -74.05178863
 -74.05065640000001 -74.0335519 -74.03210820000001 -74.07126188
 -74.0641943 -74.05727148 -74.04996783 -74.04311746 -74.06762213
 -74.03852552 -74.04424731 -74.034234 -74.08363940000001 -74.04557168
 -74.06378388 '-74.05099' '-74.07106072' '-74.07195926' '-74.071455'
 '-74.03768331' '-74.0789' -74.03805095 -74.0557013 -74.07840595
 -74.04399090000001 -74.04044329999999 -74.066921 -74.03375890000001
 -74.04963791 -74.0575736 -74.05247829999999 -74.04630454 -74.05044364
 -74.04772663 -74.03648570000001 -74.05950308 -74.06285852 -74.05038893
 -74.04595256 -74.04288411 -74.03891444 -74.04281706 -74.06661093
 -74.04105 -74.05099 -74.0354826 -74.0625 -74.07106072 -74.07195926
 '-74.06391263' -74.071455 -74.06391263 -74.0334588 -74.04384499999999
 -74.03768331 -74.0789 -74.06860113 -74.04696375]
End Station ID
['3185' '3183' '3203' '3186' '3195' '3209' '3184' '3199' '3212' '3192'
 '3211' '3216' '3210' '3187' '3213' '3214' '3196' '3200' '3207' '3194'
 '3205' '3206' '3193' '3225' '3202' '3189' '3215' '3201' '3197' '3198'
 '3220' '3188' '3217' '3190' '3191' '501' '3173' '3169' '457' '448' '505'
 '363' '247' '327' '309' '3178' '173' '252' '484' '329' '358' '315' '477'
 '428' '390' '225' '3265' '304' '284' '3267' '3270' '3272' '3268' '3279'
 '3278' '3273' '3276' '3271' '3274' '3275' '3281' '3314' '514' '3331'
 '3426' '427' '347' '359' '426' '3085' '534' '360' '328' '3269' '446'
 '520' '3280' '393' '3277' '405' '224' '249' '276' '319' '2008' '152'
 '297' '267' '3175' '335' '379' '3307' '380' '366' '482' '253' '3443'
 '470' '195' '439' '3233' '459' '3328' '3002' '3256' '447' '3428' '432'
 '212' '3436' '386' '525' '3474' '515' '517' '486' '3472' '313' '3461'
 '259' '423' '128' '79' '3481' '444' '466' '3161' '3480' '377' '435'
 '3167' '3638' '3639' '3640' '533' '127' '146' '478' '401' 3211 3207 3186
 3183 3481 3195 3203 3640 3185 3279 3193 3202 3213 3268 3280 '462' '3541'
 '537' '3681' '3677' '3679' '3678' '3483' '3415' '3552' '157' '3311'
 '3547' '2006' '3467' '331' '3694' '398' '526' '376' '513' '498' '345'
 '3539' 3267 3272 3194 3187 3199 3214 3638 3209 3275 3192 3639 3205 3278
 3276 3270 3198 3273 3483 3277 3184 3269 3681 3678 3220 3206 3191 3679
 3196 3677 3225 3694 3212 3201 3210 3281 3426 514 327 167 264 417 127 505
 306 422 '353' '336' '508' '3400' '3165' '254' '3709' '523' '468' '3170'
 '3258' 303 311 3168 3750 487 195 3791]
End Station Name
['City Hall' 'Exchange Place' 'Hamilton Park' 'Grove St PATH' 'Sip Ave'
 'Brunswick St' 'Paulus Hook' 'Newport Pkwy' 'Christ Hospital'
 'Liberty Light Rail' 'Newark Ave' 'Columbia Park' 'Pershing Field'
 'Warren St' 'Van Vorst Park' 'Essex Light Rail' 'Riverview Park'
 'MLK Light Rail' 'Oakland Ave' 'McGinley Square' 'JC Medical Center'
 'Hilltop' 'Lincoln Park' 'Baldwin at Montgomery' 'Newport PATH'
 'West Side Light Rail' 'Central Ave' 'Dey St' 'North St'
 'Heights Elevator' '5 Corners Library' 'NJCU' 'Bayside Park'
 'Garfield Ave Station' 'Union St' 'FDR Drive & E 35 St'
 'Riverside Blvd & W 67 St' 'Riverside Dr & W 82 St' 'Broadway & W 58 St'
 'W 37 St & 10 Ave' '6 Ave & W 33 St' 'West Thames St'
 'Perry St & Bleecker St' 'Vesey Pl & River Terrace' 'Murray St & West St'
 'Riverside Dr & W 78 St' 'Broadway & W 49 St'
 'MacDougal St & Washington Sq' 'W 44 St & 5 Ave'
 'Greenwich St & North Moore St' 'Christopher St & Greenwich St'
 'South St & Gouverneur Ln' 'W 41 St & 8 Ave' 'E 3 St & 1 Ave'
 'Duffield St & Willoughby St' 'W 14 St & The High Line'
 'E 2 St & 2 Ave E' 'Broadway & Battery Pl' 'Greenwich Ave & 8 Ave'
 'Morris Canal' 'Jersey & 6th St' 'Jersey & 3rd' 'Lafayette Park'
 'Dixon Mills' 'Monmouth and 6th' 'Manila & 1st' 'Marin Light Rail'
 'Danforth Light Rail' 'Bethune Center' 'Columbus Drive'
 'Leonard Gordon Park' 'W 95 St & Broadway' '12 Ave & W 40 St'
 'Riverside Dr & W 104 St' 'JCBS Depot' 'Bus Slip & State St'
 'Greenwich St & W Houston St' 'E 47 St & Park Ave'
 'West St & Chambers St' 'Roebling St & N 4 St' 'Water - Whitehall Plaza'
 'William St & Pine St' 'Watts St & Greenwich St' 'Brunswick & 6th'
 'W 24 St & 7 Ave' 'W 52 St & 5 Ave' 'Astor Place' 'E 5 St & Avenue C'
 'Communipaw & Berry Lane' 'Washington St & Gansevoort St'
 'Spruce St & Nassau St' 'Harrison St & Hudson St'
 'Duane St & Greenwich St' 'Fulton St & Broadway' 'Little West St & 1 Pl'
 'Warren St & Church St' 'E 15 St & 3 Ave' 'Broadway & W 36 St'
 'W 70 St & Amsterdam Ave' 'Washington Pl & Broadway' 'W 31 St & 7 Ave'
 'West End Ave & W 94 St' 'W 4 St & 7 Ave S' 'Clinton Ave & Myrtle Ave'
 'W 15 St & 7 Ave' 'W 13 St & 5 Ave' 'W 52 St & 6 Ave' 'W 20 St & 8 Ave'
 'Liberty St & Broadway' 'E 4 St & 2 Ave' 'E 48 St & 5 Ave'
 'W 20 St & 11 Ave' 'W 100 St & Manhattan Ave'
 'South End Ave & Liberty St' 'Pier 40 - Hudson River Park'
 '8 Ave & W 52 St' '8 Ave & W 16 St' 'E 7 St & Avenue A'
 'W 16 St & The High Line' 'Greenwich St & Hubert St'
 'Centre St & Worth St' 'W 34 St & 11 Ave' '6 Ave & Spring St'
 'W 43 St & 10 Ave' 'Pershing Square South' 'Broadway & W 29 St'
 'W 15 St & 10 Ave' 'Washington Ave & Park Ave' 'Murray St & Greenwich St'
 'South St & Whitehall St' 'W 54 St & 9 Ave' "JSQ Don't Use"
 "Hs Don't Use" 'MacDougal St & Prince St' 'Franklin St & W Broadway'
 'York St' 'Broadway & W 24 St' 'W 25 St & 6 Ave' 'W 76 St & Columbus Ave'
 "WS Don't Use" '6 Ave & Canal St' 'W 21 St & 6 Ave'
 'Amsterdam Ave & W 73 St' 'Washington St' 'Harborside' 'Journal Square'
 'Broadway & W 38 St' 'Barrow St & Hudson St' 'Hudson St & Reade St'
 '11 Ave & W 41 St' 'Allen St & Rivington St' 'W 22 St & 10 Ave'
 'Amsterdam Ave & W 125 St' 'Lexington Ave & E 24 St' 'Grand St'
 'Glenwood Ave' 'Bergen Ave' 'Fairmount Ave' 'Montgomery St'
 'Prospect Pl & 6 Ave' 'W 113 St & Broadway' 'Henry St & Atlantic Ave'
 'Columbia St & Kane St' 'Broadway & Moylan Pl' 'Central Park S & 6 Ave'
 'W Broadway & Spring Street' 'Pike St & Monroe St' 'Jackson Square'
 'Atlantic Ave & Furman St' 'E 33 St & 5 Ave' 'John St & William St'
 'W 56 St & 10 Ave' 'Broadway & W 32 St' 'W 13 St & 6 Ave'
 'W 116 St & Amsterdam Ave' 'E 39 St & 3 Ave' 'Maiden Ln & Pearl St'
 'Barclay St & Church St' 'Cliff St & Fulton St_1' 'W 59 St & 10 Ave'
 'S Portland Ave & Hanson Pl' 'Sullivan St & Washington Sq'
 'W 46 St & 11 Ave' 'E 110 St & Madison Ave' 'Central Park West & W 72 St'
 'W 11 St & 6 Ave' 'W 15 St & 6 Ave' 'W 38 St & 8 Ave'
 'Broadway & W 56 St' 'W 84 St & Columbus Ave' 'W 27 St & 10 Ave'
 'Mercer St & Spring St' 'Norfolk St & Broome St'
 'Central Park West & W 85 St' 'Forrest Tech Shop (parts testing)'
 'E 20 St & FDR Drive' 'Hoboken Ave at Monmouth St']
End Station Latitude

['40.7177325' '40.7162469' '40.72759597' '40.71958612' '40.73074263'
 '40.7241765' '40.7141454' '40.7287448' '40.73478582' '40.7112423'
 '40.72152515' '40.6970299' '40.74267714' '40.7211236' '40.71848892'
 '40.7127742' '40.7443187' '40.7111305' '40.7376037' '40.72533993'
 '40.71653978' '40.7311689' '40.7246051' '40.7236589' '40.7272235'
 '40.714402' '40.7467299' '40.737711' '40.752559' '40.74871595'
 '40.73496102' '40.7101087' '40.69865054' '40.71046702' '40.7182113'
 '40.744219' '40.77750703' '40.78720869' '40.76695317' '40.75660359'
 '40.74901271' '40.70834698' '40.73535398' '40.7153379' '40.7149787'
 '40.78414472' '40.76068327' '40.73226398' '40.75500254' '40.72015227'
 '40.73291553' '40.70355377' '40.75640548' '40.72467721' '40.69221589'
 '40.74195138' '40.72456343' '40.70463334' '40.73901691' '40.71241882'
 '40.72528911' '40.72333159' '40.71346383' '40.72163014' '40.72568548'
 '40.72165072' '40.71458404' '40.69263997' '40.70495752' '40.7183552'
 '40.74590997' '40.7937704' '40.76087502' '40.8013434' '40.70965083'
 '40.701907' '40.728846' '40.75510267' '40.71754834' '40.71469'
 '40.70255065' '40.70717936' '40.72405549' '40.72601173' '40.74487634'
 '40.75992262' '40.7192822' '40.72299208' '40.71435837' '40.739323'
 '40.71146364' '40.71870987' '40.71748752' '40.711066' '40.70569254'
 '40.71473993' '40.734232' '40.75097711' '40.77748046' '40.72903917'
 '40.749156' '40.7941654' '40.73401143' '40.693261' '40.73935542'
 '40.73543934' '40.76132983' '40.74345335' '40.70905623' '40.7262807'
 '40.75724568' '40.746745' '40.795' '40.711512' '40.72771408'
 '40.76370739' '40.740983' '40.72621788' '40.74334935' '40.721319'
 '40.71494807' '40.75594159' '40.7252557' '40.76009437' '40.751581'
 '40.7462009' '40.74275383' '40.69610226' '40.71485151' '40.70122128'
 '40.76584941' '0' '40.71925171' '40.72710258' '40.71911552' '40.71649'
 '40.7423543' '40.74395411' '40.78018397' '40.72243797' '40.74173969'
 '40.77966809' '40.7242941' '40.7192517' '40.73367' '40.75299641'
 '40.73172428' '40.71625008' '40.76030096' '40.72019576' 40.72152515
 40.7376037 40.71958612 40.7162469 40.71649 40.73074263 40.72759597
 40.733670000000004 40.717732500000004 40.72163014 40.724605100000005
 40.7272235 40.71848892 40.71346383 40.7192822 '40.74691959' '40.813358'
 '40.74025878' '40.71517768' '40.72755147' '40.72210379' '40.72572614'
 '40.71942' '40.6793307' '40.805973' '40.69089272' '40.68763155'
 '40.8143256' '40.76590936' '40.72494672' '40.71173107' '40.71113'
 '40.69165183' '40.74765947' '40.70862144' '40.768254' '40.74854862'
 '40.73649403' '40.8067581' 40.71241882 40.72333159 40.72533993
 40.721123600000006 40.728744799999994 40.712774200000005 40.7242941
 40.7241765 40.718355200000005 40.711242299999995 40.71925170000001
 40.71653978 40.72568548 40.71458404 40.72528911 40.74871595 40.72165072
 40.71942 40.71435837 40.7141454 40.72601173 40.71517768 40.72572614
 40.73496102 40.7311689 40.71821129999999 40.72210379 40.7443187
 40.72755147 40.7236589 40.71113 40.73478582 40.737711 40.74267714
 40.74590997 40.70965083 40.76087502 40.715337899999994 40.7489006
 40.70706456 40.71291224 40.73172428 40.74901271 40.70823502 40.770513
 '40.68539567' '40.73047747' '40.76341379' '40.7961535' '40.77579377'
 '40.73532427' '40.73804614' '40.7308971' '40.75466591' '40.7652654'
 '40.78499979' '40.75018156' 40.7308971 40.72362738 40.7172274 40.78472675
 40.70300569 40.73314259 40.70905623 40.73520838]
End Station Longitude
['-74.043845' '-74.0334588' '-74.04424731' '-74.04311746' '-74.06378388'
 '-74.0506564' '-74.0335519' '-74.0321082' '-74.05044364' '-74.0557013'
 '-74.04630454' '-74.0969366' '-74.05178863' '-74.03805095' '-74.04772663'
 '-74.0364857' '-74.0439909' '-74.0788855' '-74.0524783' '-74.06762213'
 '-74.04963791' '-74.0575736' '-74.07840595' '-74.0641943' '-74.0337589'
 '-74.0887723' '-74.0492509' '-74.066921' '-74.044725' '-74.0404433'
 '-74.05950308' '-74.0858489' '-74.08207968' '-74.0700388' '-74.0836394'
 '-73.97121214' '-73.98888588' '-73.98128127' '-73.98169333' '-73.9979009'
 '-73.98848395' '-74.01713445' '-74.00483091' '-74.01658354' '-74.013012'
 '-73.98362492' '-73.98452729' '-73.99852205' '-73.98014437'
 '-74.01036501' '-74.00711384' '-74.00670227' '-73.9900262' '-73.98783413'
 '-73.9842844' '-74.00803013' '-73.98944378' '-74.01361706' '-74.00263761'
 '-74.03852552' '-74.04557168' '-74.04595256' '-74.06285852'
 '-74.04996783' '-74.04879034' '-74.04288411' '-74.04281706'
 '-74.08801228' '-74.08593088' '-74.03891444' '-74.05727148' '-73.971888'
 '-74.00277668' '-73.97114574' '-74.06860113' '-74.013942' '-74.008591'
 '-73.97498696' '-74.01322069' '-73.95739' '-74.0127234' '-74.00887308'
 '-74.00965965' '-74.05038893' '-73.99529885' '-73.97648516'
 '-74.07126188' '-73.97995466' '-74.06661093' '-74.008119' '-74.00552427'
 '-74.0090009' '-74.0104554' '-74.009447' '-74.01677685' '-74.00910627'
 '-73.986923' '-73.98765428' '-73.98288594' '-73.99404649' '-73.9916'
 '-73.974124' '-74.00293877' '-73.968896' '-73.99931783' '-73.99453948'
 '-73.97982001' '-74.00004031' '-74.01043382' '-73.98978041'
 '-73.97805914' '-74.007756' '-73.9645' '-74.015756' '-74.01129574'
 '-73.9851615' '-74.001702' '-73.98379855' '-74.00681753' '-74.010065'
 '-74.00234482' '-74.0021163' '-74.00412083' '-73.99461843' '-73.97791'
 '-73.98855723' '-74.00747359' '-73.96751037' '-74.01122332'
 '-74.01234218' '-73.98690506' '0' '-74.03423399' '-74.00297088'
 '-74.00666661' '-74.04105' '-73.98915076' '-73.99144871' '-73.97728533'
 '-74.00566443' '-73.99415556' '-73.98093045' '-74.0354826' '-74.034234'
 '-74.0625' '-73.98721619' '-74.00674436' '-74.0091059' '-73.99884222'
 '-73.98997825' -74.04630454 -74.05247829999999 -74.04311746 -74.0334588
 -74.04105 -74.06378388 -74.04424731 -74.0625 -74.04384499999999
 -74.04996783 -74.07840595 -74.03375890000001 -74.04772663 -74.06285852
 -74.07126188 '-74.00451887' '-73.956461' '-73.98409214' '-74.03768331'
 '-74.07106072' '-74.071455' '-74.07195926' '-74.05099' '-73.97519523'
 '-73.964928' '-73.99612349' '-74.0016256' '-73.9590255' '-73.97634151'
 '-74.00165856' '-73.99193043' '-74.0789' '-73.9999786' '-73.98490707'
 '-74.00722156' '-73.988639' '-73.98808416' '-73.99704374' '-73.9607082'
 -74.03852552 -74.04595256 -74.06762213 -74.03805095 -74.03210820000001
 -74.03648570000001 -74.0354826 -74.05065640000001 -74.03891444
 -74.0557013 -74.034234 -74.04963791 -74.04879034 -74.04281706
 -74.04557168 -74.04044329999999 -74.04288411 -74.05099 -74.06661093
 -74.0335519 -74.05038893 -74.03768331 -74.07195926 -74.05950308
 -74.0575736 -74.08363940000001 -74.071455 -74.04399090000001 -74.07106072
 -74.0641943 -74.0789 -74.05044364 -74.066921 -74.05178863 -74.05727148
 -74.06860113 -74.00277668 -74.01658354 -73.97604882 -74.00731853
 -74.01020234 -74.00674436 -73.98848395 -74.00530063 -73.988038
 '-73.97431458' '-73.99906065' '-73.99667444' '-73.94782145'
 '-73.97620574' '-73.99800419' '-73.99642959' '-74.06391263'
 '-73.99138152' '-73.98192338' '-73.97283406' '-74.00218427' -74.06391263
 -73.99949601 -73.98802084 -73.96961715 -73.93207671 -73.97573881
 -74.01043382 -74.04696375]
Bike ID
['24722' '24442' '24678' ... '19989' '35248' '15331']
User Type
['Subscriber' 'unknown' 'Customer']
Birth Year
[1975 1962 1977 1987 1964 1961 1952 1967 1965 1971 1984 1983 1982 1970
 1948 1963 1981 1985 1980 1944 1976 1951 1989 1973 1991 1972 1990 1960
 1988 1986 1979 1969 1978 1992 1974 1968 1993 1956 1959 1953 1999 1954
 1955 1957 1996 1958 1966 1994 1949 1946 1995 1997 1950 1941 1940 1947
 1998 1943 1945 2000 1934 1942 1937 1931 2001 1939 2002 2003]
Gender
['male' 'female' 'unknown']
Age-2019
[44 57 42 32 55 58 67 52 54 48 35 36 37 49 71 56 38 34 39 75 43 68 30 46
 28 47 29 59 31 33 40 50 41 27 45 51 26 63 60 66 20 65 64 62 23 61 53 25
 70 73 24 22 69 78 79 72 21 76 74 19 85 77 82 88 18 80 17 16]

#### Start Time / Start Date

In [58]:
#Check if there are values on Start Time that do not contain a date as we are going to split that column
noStartDate = data[~data['Start Time'].str.contains('/')]
noStartDate

Empty DataFrame
Columns: [Trip Duration, Year, Start Time, Stop Time, Start Station ID, Start Station Name, Start Station Latitude, Start Station Longitude, End Station ID, End Station Name, End Station Latitude, End Station Longitude, Bike ID, User Type, Birth Year, Gender, Age-2019]
Index: []

In [59]:
# Create a new data frame with split value columns 
new = data['Start Time'].str.split(" ", n = 1, expand = True)

In [60]:
new.head()

            0      1
0  21/09/2015  14:53
2  21/09/2015  14:56
3  21/09/2015  14:58
4  21/09/2015  14:59
5  21/09/2015  15:06

In [61]:
# Change the values of Start Time column to just time
data['Start Time']= new[1] 

# Add a new column for Start Date
data.insert(3, 'Start Date', new[0])

In [62]:
data.head()

,Trip Duration,Year,Start Time,Start Date,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Age-2019
0,61,2015,14:53,21/09/2015,21/09/2015 14:54,3185,City Hall,40.7177325,-74.043845,3185,City Hall,40.7177325,-74.043845,24722,Subscriber,1975,male,44
2,786,2015,14:56,21/09/2015,21/09/2015 15:09,3183,Exchange Place,40.7162469,-74.0334588,3183,Exchange Place,40.7162469,-74.0334588,24442,Subscriber,1962,male,57
3,477,2015,14:58,21/09/2015,21/09/2015 15:06,3203,Hamilton Park,40.72759597,-74.04424731,3203,Hamilton Park,40.72759597,-74.04424731,24678,Subscriber,1977,female,42
4,451,2015,14:59,21/09/2015,21/09/2015 15:07,3203,Hamilton Park,40.72759597,-74.04424731,3186,Grove St PATH,40.71958612,-74.04311746,24574,Subscriber,1977,female,42
5,401,2015,15:06,21/09/2015,21/09/2015 15:12,3195,Sip Ave,40.73074263,-74.06378388,3195,Sip Ave,40.73074263,-74.06378388,24520,Subscriber,1987,female,32

#### Stop Time / Stop Date

In [63]:
#Check if there are values on Stop Time that do not contain a date as we are going to split that column
noStopDate = data[~data['Stop Time'].str.contains('/')]
noStopDate

Empty DataFrame
Columns: [Trip Duration, Year, Start Time, Start Date, Stop Time, Start Station ID, Start Station Name, Start Station Latitude, Start Station Longitude, End Station ID, End Station Name, End Station Latitude, End Station Longitude, Bike ID, User Type, Birth Year, Gender, Age-2019]
Index: []

In [64]:
# Create a new data frame with split value columns 
new2 = data['Stop Time'].str.split(" ", n = 1, expand = True)

In [65]:
new2.head()

            0      1
0  21/09/2015  14:54
2  21/09/2015  15:09
3  21/09/2015  15:06
4  21/09/2015  15:07
5  21/09/2015  15:12

In [66]:
# Change the values of Start Time column to just time
data['Stop Time']= new2[1] 

# Add a new column for Start Date
data.insert(5, 'Stop Date', new2[0])

In [67]:
data.head(100)

,Trip Duration,Year,Start Time,Start Date,Stop Time,Stop Date,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Age-2019
0,61,2015,14:53,21/09/2015,14:54,21/09/2015,3185,City Hall,40.7177325,-74.043845,3185,City Hall,40.7177325,-74.043845,24722,Subscriber,1975,male,44
2,786,2015,14:56,21/09/2015,15:09,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3183,Exchange Place,40.7162469,-74.0334588,24442,Subscriber,1962,male,57
3,477,2015,14:58,21/09/2015,15:06,21/09/2015,3203,Hamilton Park,40.72759597,-74.04424731,3203,Hamilton Park,40.72759597,-74.04424731,24678,Subscriber,1977,female,42
4,451,2015,14:59,21/09/2015,15:07,21/09/2015,3203,Hamilton Park,40.72759597,-74.04424731,3186,Grove St PATH,40.71958612,-74.04311746,24574,Subscriber,1977,female,42
5,401,2015,15:06,21/09/2015,15:12,21/09/2015,3195,Sip Ave,40.73074263,-74.06378388,3195,Sip Ave,40.73074263,-74.06378388,24520,Subscriber,1987,female,32
6,1215,2015,15:11,21/09/2015,15:31,21/09/2015,3185,City Hall,40.7177325,-74.043845,3209,Brunswick St,40.7241765,-74.0506564,24441,Subscriber,1964,male,55
7,1144,2015,15:11,21/09/2015,15:30,21/09/2015,3185,City Hall,40.7177325,-74.043845,3209,Brunswick St,40.7241765,-74.0506564,24719,Subscriber,1961,male,58
8,1967,2015,15:12,21/09/2015,15:44,21/09/2015,3185,City Hall,40.7177325,-74.043845,3195,Sip Ave,40.73074263,-74.06378388,24706,Subscriber,1952,male,67
9,205,2015,15:16,21/09/2015,15:20,21/09/2015,3195,Sip Ave,40.73074263,-74.06378388,3195,Sip Ave,40.73074263,-74.06378388,24555,Subscriber,1987,female,32
10,649,2015,15:18,21/09/2015,15:28,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3184,Paulus Hook,40.7141454,-74.0335519,24398,Subscriber,1962,male,57
11,550,2015,15:18,21/09/2015,15:27,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3199,Newport Pkwy,40.7287448,-74.0321082,24486,Subscriber,1967,male,52
12,2324,2015,15:20,21/09/2015,15:59,21/09/2015,3212,Christ Hospital,40.73478582,-74.05044364,3212,Christ Hospital,40.73478582,-74.05044364,24392,Subscriber,1965,male,54
13,475,2015,15:20,21/09/2015,15:28,21/09/2015,3225,Baldwin at Montgomery,40.7236589,-74.0641943,3192,Liberty Light Rail,40.7112423,-74.0557013,24484,Subscriber,1971,male,48
15,236,2015,15:22,21/09/2015,15:26,21/09/2015,3202,Newport PATH,40.7272235,-74.0337589,3203,Hamilton Park,40.72759597,-74.04424731,24400,Subscriber,1984,female,35
16,961,2015,15:26,21/09/2015,15:42,21/09/2015,3211,Newark Ave,40.72152515,-74.04630454,3186,Grove St PATH,40.71958612,-74.04311746,24617,Subscriber,1983,male,36
17,355,2015,15:26,21/09/2015,15:32,21/09/2015,3211,Newark Ave,40.72152515,-74.04630454,3203,Hamilton Park,40.72759597,-74.04424731,24443,Subscriber,1982,male,37
20,1775,2015,15:33,21/09/2015,16:03,21/09/2015,3209,Brunswick St,40.7241765,-74.0506564,3195,Sip Ave,40.73074263,-74.06378388,24701,Subscriber,1964,male,55
21,349,2015,15:36,21/09/2015,15:42,21/09/2015,3203,Hamilton Park,40.72759597,-74.04424731,3211,Newark Ave,40.72152515,-74.04630454,24443,Subscriber,1982,male,37
22,513,2015,15:37,21/09/2015,15:46,21/09/2015,3199,Newport Pkwy,40.7287448,-74.0321082,3183,Exchange Place,40.7162469,-74.0334588,24486,Subscriber,1967,male,52
23,975,2015,15:38,21/09/2015,15:54,21/09/2015,3211,Newark Ave,40.72152515,-74.04630454,3186,Grove St PATH,40.71958612,-74.04311746,24478,Subscriber,1970,male,49
24,1940,2015,15:41,21/09/2015,16:13,21/09/2015,3217,Bayside Park,40.69865054,-74.08207968,3216,Columbia Park,40.6970299,-74.0969366,24547,Subscriber,1948,male,71
25,609,2015,15:41,21/09/2015,15:51,21/09/2015,3195,Sip Ave,40.73074263,-74.06378388,3210,Pershing Field,40.74267714,-74.05178863,24529,Subscriber,1963,male,56
26,353,2015,15:43,21/09/2015,15:49,21/09/2015,3187,Warren St,40.7211236,-74.03805095,3187,Warren St,40.7211236,-74.03805095,24556,Subscriber,1981,male,38
27,529,2015,15:46,21/09/2015,15:55,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3192,Liberty Light Rail,40.7112423,-74.0557013,24655,Subscriber,1981,female,38
29,1001,2015,15:57,21/09/2015,16:13,21/09/2015,3195,Sip Ave,40.73074263,-74.06378388,3186,Grove St PATH,40.71958612,-74.04311746,24706,Subscriber,1952,male,67
30,2066,2015,15:57,21/09/2015,16:31,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3213,Van Vorst Park,40.71848892,-74.04772663,24617,Subscriber,1985,male,34
31,200,2015,15:58,21/09/2015,16:01,21/09/2015,3211,Newark Ave,40.72152515,-74.04630454,3203,Hamilton Park,40.72759597,-74.04424731,24614,Subscriber,1983,male,36
33,395,2015,16:03,21/09/2015,16:09,21/09/2015,3187,Warren St,40.7211236,-74.03805095,3184,Paulus Hook,40.7141454,-74.0335519,24388,Subscriber,1982,male,37
34,405,2015,16:03,21/09/2015,16:10,21/09/2015,3203,Hamilton Park,40.72759597,-74.04424731,3186,Grove St PATH,40.71958612,-74.04311746,24628,Subscriber,1980,male,39
35,572,2015,16:04,21/09/2015,16:13,21/09/2015,3214,Essex Light Rail,40.7127742,-74.0364857,3214,Essex Light Rail,40.7127742,-74.0364857,24589,Subscriber,1944,male,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,303,2015,17:53,21/09/2015,17:58,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3203,Hamilton Park,40.72759597,-74.04424731,24677,Subscriber,1970,male,49
89,614,2015,17:55,21/09/2015,18:06,21/09/2015,3207,Oakland Ave,40.7376037,-74.0524783,3195,Sip Ave,40.73074263,-74.06378388,24467,Subscriber,1981,male,38
90,516,2015,18:00,21/09/2015,18:08,21/09/2015,3195,Sip Ave,40.73074263,-74.06378388,3194,McGinley Square,40.72533993,-74.06762213,18245,Subscriber,1991,male,28
91,437,2015,18:01,21/09/2015,18:08,21/09/2015,3185,City Hall,40.7177325,-74.043845,3203,Hamilton Park,40.72759597,-74.04424731,24625,Subscriber,1981,female,38
92,1008,2015,18:02,21/09/2015,18:19,21/09/2015,3206,Hilltop,40.7311689,-74.0575736,3206,Hilltop,40.7311689,-74.0575736,24522,Subscriber,1977,female,42
93,295,2015,18:06,21/09/2015,18:11,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3205,JC Medical Center,40.71653978,-74.04963791,24679,Subscriber,1977,male,42
94,376,2015,18:08,21/09/2015,18:15,21/09/2015,3211,Newark Ave,40.72152515,-74.04630454,3203,Hamilton Park,40.72759597,-74.04424731,24443,Subscriber,1982,male,37
95,757,2015,18:09,21/09/2015,18:21,21/09/2015,3185,City Hall,40.7177325,-74.043845,3184,Paulus Hook,40.7141454,-74.0335519,24427,Subscriber,1962,male,57
96,680,2015,18:09,21/09/2015,18:20,21/09/2015,3195,Sip Ave,40.73074263,-74.06378388,3193,Lincoln Park,40.7246051,-74.07840595,24682,Subscriber,1975,female,44
97,320,2015,18:11,21/09/2015,18:16,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3214,Essex Light Rail,40.7127742,-74.0364857,24698,Subscriber,1979,male,40
98,587,2015,18:12,21/09/2015,18:21,21/09/2015,3185,City Hall,40.7177325,-74.043845,3184,Paulus Hook,40.7141454,-74.0335519,24422,Subscriber,1960,female,59
99,404,2015,18:13,21/09/2015,18:20,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3214,Essex Light Rail,40.7127742,-74.0364857,24452,Subscriber,1980,male,39
100,832,2015,18:13,21/09/2015,18:27,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3225,Baldwin at Montgomery,40.7236589,-74.0641943,24518,Subscriber,1975,male,44
101,384,2015,18:14,21/09/2015,18:20,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3214,Essex Light Rail,40.7127742,-74.0364857,24551,Subscriber,1989,female,30
102,238,2015,18:16,21/09/2015,18:20,21/09/2015,3213,Van Vorst Park,40.71848892,-74.04772663,3186,Grove St PATH,40.71958612,-74.04311746,24574,Subscriber,1975,female,44
103,1644,2015,18:17,21/09/2015,18:45,21/09/2015,3185,City Hall,40.7177325,-74.043845,3185,City Hall,40.7177325,-74.043845,24688,Subscriber,1988,male,31
104,351,2015,18:17,21/09/2015,18:23,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3186,Grove St PATH,40.71958612,-74.04311746,24398,Subscriber,1982,male,37
105,445,2015,18:17,21/09/2015,18:25,21/09/2015,3220,5 Corners Library,40.73496102,-74.05950308,3210,Pershing Field,40.74267714,-74.05178863,24379,Subscriber,1985,female,34
106,154,2015,18:19,21/09/2015,18:22,21/09/2015,3203,Hamilton Park,40.72759597,-74.04424731,3203,Hamilton Park,40.72759597,-74.04424731,24614,Subscriber,1969,male,50
107,443,2015,18:19,21/09/2015,18:27,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3205,JC Medical Center,40.71653978,-74.04963791,24673,Subscriber,1986,female,33
108,501,2015,18:20,21/09/2015,18:28,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3209,Brunswick St,40.7241765,-74.0506564,24536,Subscriber,1980,male,39
109,512,2015,18:20,21/09/2015,18:29,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3209,Brunswick St,40.7241765,-74.0506564,24482,Subscriber,1982,male,37
110,586,2015,18:21,21/09/2015,18:31,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3186,Grove St PATH,40.71958612,-74.04311746,24445,Subscriber,1984,male,35
111,566,2015,18:22,21/09/2015,18:31,21/09/2015,3183,Exchange Place,40.7162469,-74.0334588,3186,Grove St PATH,40.71958612,-74.04311746,24552,Subscriber,1984,male,35
112,134,2015,18:23,21/09/2015,18:25,21/09/2015,3211,Newark Ave,40.72152515,-74.04630454,3209,Brunswick St,40.7241765,-74.0506564,24637,Subscriber,1981,male,38
113,321,2015,18:23,21/09/2015,18:29,21/09/2015,3206,Hilltop,40.7311689,-74.0575736,3212,Christ Hospital,40.73478582,-74.05044364,24674,Subscriber,1990,male,29
115,129,2015,18:24,21/09/2015,18:26,21/09/2015,3213,Van Vorst Park,40.71848892,-74.04772663,3185,City Hall,40.7177325,-74.043845,24617,Subscriber,1970,male,49
116,1303,2015,18:26,21/09/2015,18:48,21/09/2015,3203,Hamilton Park,40.72759597,-74.04424731,3202,Newport PATH,40.7272235,-74.0337589,24678,Subscriber,1991,male,28
117,749,2015,18:26,21/09/2015,18:38,21/09/2015,3203,Hamilton Park,40.72759597,-74.04424731,3203,Hamilton Park,40.72759597,-74.04424731,24512,Subscriber,1991,female,28
118,371,2015,18:27,21/09/2015,18:33,21/09/2015,3186,Grove St PATH,40.71958612,-74.04311746,3203,Hamilton Park,40.72759597,-74.04424731,24635,Subscriber,1981,male,38

In [68]:
#Export dataframe into a .csv file to be read on Tableau
data.to_csv('CityBikes_2015-2019.csv')